
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/couponManager.css" />
    <!-- <link rel="stylesheet" href="/stylesheets/swiper.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script src="/javascripts/spin.js"></script>
    <script type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js'></script>
    <!-- <script>
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script> -->
</head>

<body>
    <div id="all_coupon_div">
        <button id="make_coupon">쿠폰 생성</button>

        <div class="my_coupon_list">
            
                
                    <div class="myStamp">
                        <div class="store_market_name_L">
                            <p class="nameing_L" style="width: 60%">
                                순이네 족발
                            </p>
                            <p class="password_L" style="width: 40%">
                                통인 시장
                            </p>
                            <!-- </div> -->
                        </div>
                        <div class="my_stamp_count_L">
                            <div class="stamp_count_vertical">
                                <p class="standard_coupon_L">
                                    10000원 이상
                                </p>
                                <p class="reward_coupon_L">
                                    2000
                                </p>
                            </div>
                        </div>
                        <div class="stamp_market_L">
                            <div class="stamp_vertical">
                                <p class="deadline_L">
                                    0
                                </p>
                            </div>
                        </div>
                    </div>

                    
                    <div class="myStamp">
                        <div class="store_market_name_L">
                            <p class="nameing_L" style="width: 60%">
                                한씨네 김밥
                            </p>
                            <p class="password_L" style="width: 40%">
                                통인시장
                            </p>
                            <!-- </div> -->
                        </div>
                        <div class="my_stamp_count_L">
                            <div class="stamp_count_vertical">
                                <p class="standard_coupon_L">
                                    2000
                                </p>
                                <p class="reward_coupon_L">
                                    1000
                                </p>
                            </div>
                        </div>
                        <div class="stamp_market_L">
                            <div class="stamp_vertical">
                                <p class="deadline_L">
                                    0
                                </p>
                            </div>
                        </div>
                    </div>

                    
                        
        </div>
    </div>


    <div id="make_coupon_div">
        <div id="myStamp">
            <div id="store_market_name">
                <p id="nameing" style="width: 60%">나현이네 과일가게</p>
                <p id="password" style="width: 40%"></p>
                <!-- </div> -->
            </div>
            <div class="my_stamp_count">
                <div class="stamp_count_vertical">
                    <p class="standard_coupon">
                    </p>
                    <p class="reward_coupon">
                    </p>
                </div>
            </div>
            <div class="stamp_market">
                <div class="stamp_vertical">
                    <p class="deadline">
                    </p>
                </div>
            </div>
        </div>

        <div id="make_coupon_form">
            <div class="inputLine">
                <img class="check_select" src="/images/check.png" width="24px" height="24px">
                <p class="name">할인금액</p>
                <select class="coupon_reward" name="coupon_reward">
                    <option value="1">선택</option>
                    <option>1000원 할인</option>
                    <option>1500원 할인</option>
                    <option>2000원 할인</option>
                    <option>3000원 할인</option>
                </select>
            </div>
            <div class="inputLine">
                <img class="check_input" src="/images/check.png" width="24px" height="24px">
                <p class="name">사용기준</p>
                <input class="input_content" type="text" id="market_promotion" placeholder="ex)5000원 이상 구매시">
            </div>
            <div class="inputLine">
                <img class="check_select" src="/images/check.png" width="24px" height="24px">
                <p class="name">선착순</p>
                <select id="people_number" name="coupon_reward">
                    <option value="1">선택</option>
                    <option>30명</option>
                    <option>50명</option>
                    <option>100명</option>
                    <option>200명</option>
                    <option>300명</option>
                </select>
            </div>
            <div class="inputLine">
                <img class="check_input" src="/images/check.png" width="24px" height="24px">
                <p class="name">쿠폰비밀번호</p>
                <input class="input_content" id="password_input" type="password" maxlength="4" id="stamp_password">
            </div>
            <button id="cancel">취소</button>
            <button id="coupon_make_button">생성</button>
        </div>
    </div>

    <div id="nav_sj">
        <div id="home">
            <img src="/images/home.png" width="40%">
            <p>홈</p>
        </div>
        <div id="coupon_sj">
            <img src="/images/coupon2.png" width="40%">
            <p id="nav_text">쿠폰</p>
        </div>
        <div id="myStamp_sj">
            <img src="/images/stamp.png" width="40%">
            <p>스탬프</p>
        </div>
        <div id="mystore_sj">
            <img src="/images/mystore.png" width="40%">
            <p>내 상점</p>
        </div>
        <div id="logout">
            <img src="/images/logout.png" width="40%">
            <p>로그아웃</p>
        </div>
    </div>
</body>
<!-- <script src="/javascripts/swiper.min.js"></script> -->
<script>
    $('#go_my_coupon').click(function () {
        $('#coupon_view').hide(200);
        $('.my_coupon').show(200);
    })
    $('#go_coupon_view').click(function () {
        $('#coupon_view').show(200);
        $('.my_coupon').hide(200);
    })
    $('#mystore_sj').click(function () {
        location.href = "/mystore";
    })
    $('#home_sj').click(function () {
        location.href = "/main";
    })
    $('#myStamp_sj').click(function () {
        location.href = "/mystampManager";
    })
    $('#logout').click(function () {
        var logout = confirm("로그아웃 하시겠습니까?");
        if (logout == true) {
            console.log('로그아웃성공');
            $(location).attr('href', '/logoutmanager');

        } else {
            console.log('로그아웃실패');
        }
    })

    $('select:eq(0)').change(function () {
        if ($(this).val() == '1') {
            $('.check_select:eq(0)').css('visibility', 'hidden');
            $('.reward_coupon').html("")
        }
        else {
            $('.check_select:eq(0)').css('visibility', 'visible');
            var value3 = $(".coupon_reward option:selected").val();
            $('.reward_coupon').html(value3)
        }
    });
    $('select:eq(1)').change(function () {
        if ($(this).val() == '1') {
            $('.check_select:eq(1)').css('visibility', 'hidden');
            $('.deadline').html("")
        }
        else {
            $('.check_select:eq(1)').css('visibility', 'visible');
            var value4 = $("#people_number option:selected").val();
            $('.deadline').html('선착순 : ' + value4)
        }
    });
    $('input:eq(0)').change(function () {
        $('.check_input:eq(0)').css('visibility', 'visible');
        var value = $(this).val()
        $('.standard_coupon').html(value);

    });
    $('input:eq(1)').change(function () {
        $('.check_input:eq(1)').css('visibility', 'visible');
        var value2 = $(this).val()
        $('#password').html('****');
    });
    $('#make_coupon').click(function () {
        $('#all_coupon_div').css('display', 'none');
        $('#make_coupon_div').css('display', 'block');
    })
    $('#cancel').click(function () {
        $('#make_coupon_div').css('display', 'none');
        $('#all_coupon_div').css('display', 'block');
    })
    $('#home').click(function () {
        location.href = '/mainManager';
    })
    $('#mystore_sj').click(function () {
        location.href = '/mystore';
    })
    $('#coupon_make_button').click(function () {
        var manager_id = 'seongjin11';
        var sijang_name = '통인시장';
        var market_name = '한씨네 김밥';
        var coupon_standard = $('#coupon_standard').val();
        var coupon_count = $('#coupon_count').val();
        var coupon_password = $('#coupon_password').val();
        var test = document.getElementsByClassName('coupon_reward');
        var scr = test[0].selectedIndex;
        var coupon_reward;
        if (scr == 0) {
            coupon_reward = 1000;
        } else if (scr == 1) {
            coupon_reward = 1500;
        } if (scr == 2) {
            coupon_reward = 2000;
        } else if (scr == 3) {
            coupon_reward = 3000;
        }

        var data = {
            'manager_id': manager_id,
            'sijang_name': sijang_name,
            'market_name': market_name,
            'coupon_standard': coupon_standard,
            'coupon_count': coupon_count,
            'coupon_password': coupon_password,
            'coupon_reward': coupon_reward
        }
        console.log(data);

        $.ajax({
            type: "POST",
            url: "/couponManager",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            cache: false,
            datatype: "json",
            data: data,
            success: function (result) {
                if (result['result'] == 'success') {
                    alert("쿠폰 등록");
                    location.reload();
                }
                else {
                    alert('쿠폰등록실패1');
                    location.reload();
                }
            },
            error: function (error) {
                alert('쿠폰등록실패2');
            }
        });
    })


</script>

</html>