<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/user_findpassword.css">
<script src='/cordova/cordova.js'></script>
<script srd='/cordova/cordova_plugins.js'></script>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js'></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>

  <title></title>
</head>

<body>
  <script>
    localStorage.setItem('introFlag', 1);
  </script>
  <div id="all_body">
    <div id="back_button">
      <img id="back_loginuser" src="/images/backButton_blue.png" onClick="history.back()" />
    </div>
    <div id="idfind_top">
        <img id="light" src="/images/light.png"/>
      <span  id="light_title">비밀번호 찾기</span>
    </div>
    <div id="findid_form">
    <input type='text' id="find_user_id_to_id" placeholder='아이디' />
    <input type='text' id="find_user_id_to_email" placeholder='이메일' />
    <img id="find_user_pw_bt" src="/images/search.png">

    <p id="demo" onclick="myFunction()">확인하세요</p>

    <div class="fdd"></div>
  </div>
  <div id="idfind_bottom">
  </div>
  </div>

    <script>
      var doubleSubmitFlag = false;
    function doubleSubmitCheck(){
      if(doubleSubmitFlag){
        return doubleSubmitFlag;
      }else{
        doubleSubmitFlag = true;
        return false;
      }
    }
      $('#find_user_pw_bt').click(function(){
        var id = $('#find_user_id_to_id').val();
        var email = $('#find_user_id_to_email').val();
        var data = {
          'id' : id,
          'email' : email
        }
        $.ajax({
            type: "POST",
            url: "/findpw",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            cache: false,
            datatype: "json",
            data: data,
            success: function (result) {
                if (result['result'] == 'success') {
                    document.getElementById("demo").innerHTML = "찾았어요";
                    if(doubleSubmitCheck() && $('#findpw_result_div > div').text() != '\0') return;
                    var temp =  result['results'][0].password ;
                    console.log(temp);
                    var secret = '***';
                    var l = temp.length;
                    var f = l-3;
                    console.log(f);
                    console.log(l);
                    var temp2 = temp.substring(0,f);
                    var result3 = temp2.concat(secret);
                    console.log(result3);
                    var findpw_div = document.createElement("div");
                    findpw_div.setAttribute("id","findpw_result_div");
                    var html = '<div>'+result3+'</div>';
                    findpw_div.innerHTML=html;
                    document.getElementsByClassName('fdd')[0].after(findpw_div)
                }
                else if(result['result']=='fail'){
                  document.getElementById("demo").innerHTML = "틀렸네요";
                  if ($('#findpw_result_div > div')) {
                    $('#findpw_result_div > div').text('\0');
                  } // inner if
                }else {
                  alert('findpassword_user.ejs확인');
                  window.reload();
                  // location.reload();
                }
            },
            error: function (error) {
              alert('findpassword_user.ejs확인');
              window.reload();
            }
        });
      })

      $("#find_user_id_to_email").keyup(function (event) {
          // Enter 처리
          if (event.keyCode == '13') {
              $("#find_user_pw_bt").trigger("click");
          };
      }); // keyup event
    </script>
</body>

</html>
