<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>

    <title></title>
  </head>
  <body>
    <input type='text' id="find_manager_id_to_password"  placeholder='아이디' />
    <input type='text' id="find_manager_id_to_sijangname"  placeholder='시장이름' />
    <input type='text' id="find_manager_id_to_marketname"  placeholder='가게이름' />
    <button id="find_manager_id_bt">찾기</button>
    <div class="fdd"></div>
  </body>
  <script>
  var doubleSubmitFlag = false;
  function doubleSubmitCheck(){
    if(doubleSubmitFlag){
      return doubleSubmitFlag;
    }else{
      doubleSubmitFlag = true;
      return false;
    }
  }
  $('#find_manager_id_bt').click(function(){
    var password = $('#find_manager_id_to_password').val();
    var sijang_name = $('#find_manager_id_to_sijangname').val();
    var market_name = $('#find_manager_id_to_marketname').val();

    var data ={
      'password' : password,
      'sijang_name' : sijang_name,
      'market_name' : market_name
    }
    console.log(data);
    $.ajax({
        type: "POST",
        url: "/findpwmanager",
        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        cache: false,
        datatype: "json",
        data: data,
        success: function (result) {
            if (result['result'] == 'success') {
                alert("비번찾기완료");
                if(doubleSubmitCheck()) return;

                var temp =  result['results'][0].password ;
                console.log(temp);
                var secret = '***';
                var l = temp.length;
                var f = l-3;
                console.log(f);
                console.log(l);
                var temp2 = temp.substring(0,f);
                var result3 = temp2.concat(secret);
                console.log(result3);


                var findpw_div = document.createElement("div");
                findpw_div.setAttribute("id","findpw_result_div");

                var html = '<div>'+result3+'</div>';
                findpw_div.innerHTML=html;
                document.getElementsByClassName('fdd')[0].after(findpw_div)
            }
            else if(result['result']=='fail'){
                alert('해당 정보와 일치하는 비밀번호가 없습니다.');

            }else {
              alert('다시입력해주세요.');
              window.reload();
              // location.reload();
            }
        },
        error: function (error) {
          alert('다시입력해주세요.');
          window.reload();
        }
    });
  })
  </script>
</html>
