<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>

    <title></title>
  </head>
  <body>
    <input type='text' id="find_manager_id_to_password"  placeholder='비밀번호' />
    <input type='text' id="find_manager_id_to_sijangname"  placeholder='시장이름' />
    <input type='text' id="find_manager_id_to_market_name"  placeholder='가게이름' />
    <button id="find_manager_id_bt">찾기</button>
  </body>
  <script>
  $('#find_manager_id_bt').click(function(){
    
  })
  </script>
</html>
