<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/user_findid.css">
    <script src='/cordova/cordova.js'></script>
    <!-- <script src='/cordova/cordova_plugins.js'></script> -->
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
  </head>

  <script>
    document.addEventListener("backbutton", onBackKeyDown, false);
    function onBackKeyDown(e) {
     e.preventDefault();
      $('.alert_select').css('display', 'block');
      $('.alert_content_select').html('앱을 종료하시겠습니까?')
      $('.alert_select_ok').click(function () {
       navigator.app.exitApp();
      });
  }
  </script>

  <body>
    <script>
      localStorage.setItem('introFlag', 1);
    </script>
 <div class="alert_select"  style="display:none">
    <div class="alert_o_content">
      <div class="alert_content_select">
      </div>
      <div class="alert_select_cancel">
        취소
      </div>
      <div class="alert_select_ok">
          확인
        </div>
    </div>
  </div>
    <div id="all_body">
    <div id="back_button">
    <img id="back_loginuser" src="/images/backButton_blue.png"onClick="history.back()" />
  </div>
    <div id="idfind_top">
        <img id="light" src="/images/light.png"/>
        <span id="light_title">아이디찾기</span>
      </div>

    <div id="findid_form">
    <input type='text' id="find_user_id_to_password"  placeholder='이름' />
    <input type='text' id="find_user_id_to_email"  placeholder='이메일' />
    <img id="find_user_id_bt" src="/images/search.png">

    <p id="demo" onclick="myFunction()">확인하세요</p>

    <div id="fdd"></div>
    </div>
    <div id="idfind_bottom">
    </div>
  </div>
    <script>
      // 1회 실행할때 double~ 변수가 false --> true / 이후엔 무조건 true값 가짐
      var doubleSubmitFlag = false;
      function doubleSubmitCheck(){
        if(doubleSubmitFlag){
          return doubleSubmitFlag;
        }else{
          doubleSubmitFlag = true;
          return false;
        }
      }

      $('#find_user_id_bt').click(function(){
        var password = $('#find_user_id_to_password').val();
        var email = $('#find_user_id_to_email').val();
        var data = {
          'password' : password,
          'email' : email
        }
        console.log(data);
        $.ajax({
            type: "POST",
            url: "/findid",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            cache: false,
            datatype: "json",
            data: data,
            success: function (result) {
                if (result['result'] == 'success') {
                    var findid_div = document.createElement("div");
                    findid_div.setAttribute("id","findid_result_div");

                    var html = '<div id="">'+result['results'][0].user_id+'</div>';
                    findid_div.innerHTML=html;

                    if (!fdd.hasChildNodes() || $('#findid_result_div > div').text() == '\0') {
                        $('#fdd').html(findid_div);
                        // alert("아이디찾기완료");
                        document.getElementById("demo").innerHTML = "찾았어요";
                        // document.getElementById('fdd').after(findid_div);
                    } // inner if
                    else {
                        alert('아래쪽 아이디를 확인하세요');
                    }
                }
                else if(result['result']=='fail'){
                  // alert('아이디가 없습');
                  document.getElementById("demo").innerHTML = "일치하는 정보가 없습니다";
                  if ($('#findid_result_div > div')) {
                    $('#findid_result_div > div').text('\0');
                  } // inner if

                }else {
                  alert('findid.ejs확인');
                  // location.reload();
                }
            },
            error: function (error) {
                alert('findid.ejs확인');
            }
        });
      })
  
      $('.alert_select_cancel').click(function(){
        $('.alert_select').css('display','none')
      })
      $("#find_user_id_to_email").keyup(function (event) {
          // Enter 처리
          if (event.keyCode == '13') {
              $("#find_user_id_bt").trigger("click");
          };
      }); // keyup event

    //inner html

    </script>
  </body>
</html>
