<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/find.css">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
  </head>


  <body>
    <script>
      localStorage.setItem('introFlag', 1);
    </script>

    <div id="all_body">
    <div id="back_button">
    <img id="back_loginuser" src="/images/backButton_blue.png"onClick="history.back()" />
  </div>
    <div id="idfind_top">
        <span>아이디찾기</span>
      </div>
      
    <div id="findid_form">
    <input type='text' id="find_user_id_to_password"  placeholder='이름' />
    <input type='text' id="find_user_id_to_email"  placeholder='이메일' />
    <img id="find_user_id_bt" src="/images/search.png">
    <div class="fdd"></div>
    </div>
    <div id="idfind_bottom">
    </div>
  </div>
    <script>
    var doubleSubmitFlag = false;
    function doubleSubmitCheck(){
      if(doubleSubmitFlag){
        return doubleSubmitFlag;
      }else{
        doubleSubmitFlag = true;
        return false;
      }
    }
      $('#find_user_id_bt').click(function(){
        var password = $('#find_user_id_to_password').val();
        var email = $('#find_user_id_to_email').val();
        var data = {
          'password' : password,
          'email' : email
        }
        console.log(data);
        $.ajax({
            type: "POST",
            url: "/findid",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            cache: false,
            datatype: "json",
            data: data,
            success: function (result) {
                if (result['result'] == 'success') {
                    alert("아이디찾기완료");
                    if(doubleSubmitCheck()) return;
                    var findid_div = document.createElement("div");
                    findid_div.setAttribute("id","findid_result_div");//id값 findid_result_div

                    var html = '<div id="">'+result['results'][0].user_id+'</div>';
                    findid_div.innerHTML=html;
                    document.getElementsByClassName('fdd')[0].after(findid_div)

                }
                else if(result['result']=='fail'){
                    alert('해당 정보와 일치하는 아이디가 없습니다.');

                }else {
                  alert('다시입력해주세요.');
                  window.reload();
                  // location.reload();
                }
            },
            error: function (error) {
              alert('다시입력해주세요.');
              window.reload();
            }
        });
      })

    </script>
  </body>
</html>
