<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>

    <title></title>
  </head>
  <body>
    <input type='text' id="find_manager_id_to_password"  placeholder='이름' />
    <input type='text' id="find_manager_id_to_sijangname"  placeholder='시장이름' />
    <input type='text' id="find_manager_id_to_marketname"  placeholder='가게이름' />
    <button id="find_manager_id_bt">찾기</button>
    <div class="fdd"></div>
  </body>
  <script>
  $('#find_manager_id_bt').click(function(){
    var password = $('#find_manager_id_to_password').val();
    var sijang_name = $('#find_manager_id_to_sijangname').val();
    var market_name = $('#find_manager_id_to_marketname').val();

    var data ={
      'password' : password,
      'sijang_name' : sijang_name,
      'market_name' : market_name
    }
    console.log(data);
    $.ajax({
        type: "POST",
        url: "/findidmanager",
        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        cache: false,
        datatype: "json",
        data: data,
        success: function (result) {
            if (result['result'] == 'success') {
                alert("아이디찾기완료");
                var findid_div = document.createElement("div");
                findid_div.setAttribute("id","findid_result_div");

                var html = '<div>'+result['results'][0].manager_id+'</div>';
                findid_div.innerHTML=html;
                document.getElementsByClassName('fdd')[0].after(findid_div)
            }
            else if(result['result']=='fail'){
                alert('해당 정보와 일치하는 아이디가 없습니다.');

            }else {
              alert('다시입력해주세요.');
              window.reload();
              // location.reload();
            }
        },
        error: function (error) {
          alert('다시입력해주세요.');
          window.reload();
        }
    });
  })
  </script>
</html>
