<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>

    <title></title>
  </head>
  <body>
    <input type='text' id="find_user_id_to_id"  placeholder='아이디' />
    <input type='text' id="find_user_id_to_email"  placeholder='이메일' />
    <button id="find_user_pw_bt">찾기</button>
    <script>
      $('#find_user_pw_bt').click(function(){
        var id = $('#find_user_id_to_id').val();
        var email = $('#find_user_id_to_email').val();
        var data = {
          'id' : id,
          'email' : email
        }
        $.ajax({
            type: "POST",
            url: "/findpw",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            cache: false,
            datatype: "json",
            data: data,
            success: function (result) {
                if (result['result'] == 'success') {
                    alert("비밀번호찾기완료");
                    $(window).attr('location', '/answer_password_user');
                }
                else if(result['result']=='fail'){
                    alert('비번 없습');

                }else {
                  alert('실패1');
                  // location.reload();
                }
            },
            error: function (error) {
                alert('실패2');
            }
        });
      })
    </script>
  </body>
</html>
