<!DOCTYPE html>
<<<<<<< HEAD

<html lang="en" dir="ltr">
=======
<html>
>>>>>>> abc574a3b9bbc747d10c48b11cba38ae16107769
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
</body>
</html>
