<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    
</head>
<body>
    <div id="a">
        <diV id="ab">
            <div id="abc">
            <div id="abcd"></div>
        </div>
        </diV>
        <div id="ac">
            <button id="b1">고객 로그인</button>
            <button id="b2">상인 로그인</button>

        </div>
    </div>
    <script>
            $('#b1').click(function(){
                location.href="login_A.html";
            });
            $('#b2').click(function(){
                location.href="login_B.html";
            });
            </script>
  
</body>
</html>