<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title></title>
  </head>
  <body>

    <div style="width : 500px;height:500px;background-color : green;" id="div1">

    </div>
  </body>
  <script>
    $('#div1').click(function(){
      var reset_stamp_count = 0;
      var stamp_count = '<%= result[0].stamp_count %>';
      var market_name = '<%= result[0].market_name %>';
      var user_id = '<%= result[0].user_id %>';
      var stamp_standard = '<%= result[0].stamp_standard %>';
      var new_stamp_count = parseInt(stamp_count)+1;
      console.log(parseInt(stamp_count));
      console.log(parseInt(stamp_standard));
      console.log(parseInt(new_stamp_count));
      if(parseInt(stamp_standard) >= parseInt(new_stamp_count))
      {
        var data={
          'stamp_count' : new_stamp_count,
          'market_name' : market_name,
          'user_id' : user_id
        };
        $.ajax({
                    type:'POST',
                    url:'/aboutstamp_count',
                    contentType:'application/x-www-form-urlencoded; charset=UTF-8',
                    cache:false,
                    dataType:'json',
                    data:data,
                    success:function(result){
                      if(result['result']=='success'){
                        alert('1');
                        $(window).attr('location','/main');
                      }
                    },
                    error:function(error){
                      console.log('error');
                    }
              });
      }
      else{
        var data={
          'stamp_count' : reset_stamp_count,
          'market_name' : market_name,
          'user_id' : user_id
        };
        $.ajax({
                    type:'POST',
                    url:'/reset_aboutstamp_count',
                    contentType:'application/x-www-form-urlencoded; charset=UTF-8',
                    cache:false,
                    dataType:'json',
                    data:data,
                    success:function(result){
                      if(result['result']=='successs'){
                        alert('2');
                        $(window).attr('location','/main');
                      }
                    },
                    error:function(error){
                      console.log('error');
                    }
              });
      }

    });
  </script>
</html>
