<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
    <!-- <script src="main.js"></script> -->  
</head>
<body>
        <div id="nav_sj">
                <div id="coupon_sj">
                    <img src="/images/coupon.png" width="60%">
                    <br/>쿠폰</div>
                <div id="search_sj">
                    <img src="/images/search.png" width="60%">
                    <br/>서울 시장</div>
                <div id="location_sj">
                    <img src="/images/location.png" width="60%">
                    <br/>주변 가맹점</div>
                <div id="myStamp_sj">
                    <img src="/images/stamp.png" width="60%">
                    <br/>내 스탬프</div>
                <div id="my_sj">
                    <img src="/images/my.png" width="60%">MyPage</div>
            </div>
        
</body>
</html>