<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport"  content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
    <!-- <script src="main.js"></script> -->
</head>

<body>
    <div id="text_logo">
        <img src="/images/text.png" width="50%" height="auto">
    </div>

    <div id="search">
        <div id="search_bar">
            <input>
            <img src="/images/search.png" width="10%" height="30px">
        </div>
        <button>지도로 찾기</button>
    </div>

    <div id="mystamp">
        <!-- <label>내 스탬프</label> -->
        <% for(var i=0; i<myStamps.length; i++) { %>
          <div class="stamp_list">
              <div class="stamp_name">
                  <div style="width: 70%"><%= myStamps[i].market_name %></div>
                  <div style="width: 30%" class="market_name">통인 시장</div>
              </div>
              <div class="stamp_count">
                  <div class="stamp_count_vertical">
                      <p><%= myStamps[i].stamp_count %>/<%= myStamps[i].stamp_standard %></p>
                  </div>
              </div>
          </div>
        <% } %>
    </div>

    <div id="near_market">
        <!-- <label>내 스탬프</label> -->
        <div id="user_name">
            <%= user.username %>님 근처 시장
        </div>
        <div id="market_pic">
            <img src="/images/market.png" width="100%" height="100%">
        </div>
        <div id="near_infor">
            <div style="width: 50%">통인 시장</div>
            <div style="width: 50%">3.2km</div>
        </div>
    </div>




    <div id="hot_store">
        <label>서울시 인기 상점</label>
        <div class="hot_store_list">
            <div class="hot_store_detail">
                <div>좋아요: 212</div>
                <div>
                    <img src="/images/fruit.jpg" width="100%">
                </div>
                <div class="detail_name">
                    통인시장 김가네 과일가게
                </div>
            </div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
    </div>


    <div id="nav_sj">
        <div id="coupon_sj">
            <img src="/images/coupon.png" width="60%">
            <br/>쿠폰</div>
        <div id="search_sj">
            <img src="/images/search.png" width="60%">
            <br/>서울 시장</div>
        <div id="location_sj">
            <img src="/images/location.png" width="60%">
            <br/>주변 가맹점</div>
        <div id="myStamp_sj">
            <img src="/images/stamp.png" width="60%">
            <br/>내 스탬프</div>
        <div id="my_sj">
            <img src="/images/my.png" width="60%">MyPage</div>
    </div>

</body>

</html>
