<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/mainManager.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js'></script>
    <script>
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script>
</head>

<body>
    <div id="text_logo">
        <img src="/images/text.png" width="50%" height="auto">
    </div>

    <div id="search">
        <div id="search_bar">
            <input>
            <img src="/images/search.png" width="10%" height="30px">
        </div>
        <button>지도로 찾기</button>
    </div>


    <div id="mystore">
        <!-- <label>내 스탬프</label> -->
        <div id="user_name">
            <%= admin_name %>
        </div>
        <div id="market_pic">
            <img src="/images/fruit.jpg" width="100%" height="100%">
        </div>
        <div id="store_name">
            나현이네 과일과게
        </div>
    </div>




    <div id="hot_store">
        <label>서울시 인기 상점</label>
        <div class="hot_store_list">
            <div class="hot_store_detail">
                <div>좋아요: 212</div>
                <div>
                    <img src="/images/fruit.jpg" width="100%">
                </div>
                <div class="detail_name">
                    통인시장
                    <br>김가네 과일가게
                </div>
            </div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
    </div>


    <div id="nav_sj">
        <div id="home">
            <img src="/images/home.png" width="55%">
            <br/>홈</div>
        <div id="coupon_sj">
            <img src="/images/coupon.png" width="55%">
            <br/>쿠폰</div>
        <div id="myStamp_sj">
            <img src="/images/stamp.png" width="55%">
            <br/>스탬프</div>
        <div id="mystore_sj">
            <img src="/images/store.png" width="55%">
            <br/>내 상점</div>
        <div id="mypage_sj">
            <img src="/images/my.png" width="55%">
            <br/>Mypage</div>
    </div>
    <script>
        $('#mystore_sj').click(function () {
            location.href = "/mystore";
        })

    </script>
</body>

</html>