<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/mainManager.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js'></script>
    <script>
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script>
</head>

<body>
    <div id="text_logo">
        <img id="inline_logo" src="/images/inline-logo.png" width="40%" height="auto">
    </div>

    <div id="mystore">
        <h3><%= admin_name %>님 상점</h3>
        <div id="user_name">
            <p>나현이네 과일과게</p>
        </div>
        <div id="market_pic">
            <img src="/images/fruit.jpg" width="80%" height="100%">
        </div>
        <div id="store_name">
            <p style="width: 50%">댓글 개수 : 52개</p>
            <p style="width: 50%">좋아요 : 124개</p>
        </div>
    </div>




    <div id="hot_store">
        <h3>서울시 좋아요순 상점</h3>
        <div class="hot_store_list">
            <div class="hot_store_detail">
                <div>
                    <img src="/images/fruit.jpg" width="100%" height="100px">
                </div>
                <div class="good_market_name">
                    통인시장
                </div>
                <div class="good_store_name">
                    김가네 과일가게
                </div>
            </div>

            <div class="hot_store_detail">
                <div>
                    <img src="/images/market2.jpg" width="100%" height="100px">
                </div>
                <div class="good_market_name">
                    광장시장
                </div>
                <div class="good_store_name">
                    꽃분이네
                </div>
            </div>
        </div>


        <div class="hot_store_list">
            <div class="hot_store_detail">
                <div>
                    <img src="/images/market5.jpg" width="100%" height="100px">
                </div>
                <div class="good_market_name">
                    통인시장
                </div>
                <div class="good_store_name">
                    태양 수산
                </div>
            </div>

            <div class="hot_store_detail">
                <div>
                    <img src="/images/market6.jpg" width="100%" height="100px">
                </div>
                <div class="good_market_name">
                    화양시장
                </div>
                <div class="good_store_name">
                    화양명물가게
                </div>
            </div>
        </div>

        <div class="hot_store_list">
            <div class="hot_store_detail">
                <div>
                    <img src="/images/market3.jpg" width="100%" height="100px">
                </div>
                <div class="good_market_name">
                    먹자골목시장
                </div>
                <div class="good_store_name">
                    용호과일
                </div>
            </div>

            <div class="hot_store_detail">
                <div>
                    <img src="/images/market4.jpg" width="100%" height="100px">
                </div>
                <div class="good_market_name">
                    용통시장
                </div>
                <div class="good_store_name">
                    쑨이네 꿀호떡
                </div>
            </div>
        </div>

        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
        <div class="hot_store_list">
            <div class="hot_store_detail"></div>
            <div class="hot_store_detail"></div>
        </div>
    </div>



    <div id="nav_sj">
        <div id="home">
            <img src="/images/home2.png" width="40%">
            <p id="nav_text">홈</p>
        </div>
        <div id="coupon_sj">
            <img src="/images/coupon.png" width="40%">
            <p>쿠폰</p>
        </div>
        <div id="myStamp_sj">
            <img src="/images/stamp.png" width="40%">
            <p>스탬프</p>
        </div>
        <div id="mystore_sj">
            <img src="/images/mystore.png" width="40%">
            <p>내 상점</p>
        </div>
        <div id="mypage_sj">
            <img src="/images/my.png" width="40%">
            <p>MyPage</p>
        </div>
    </div>
    <script>
        $('#mystore_sj').click(function () {
            location.href = "/mystore";
        })
        $('#coupon_sj').click(function () {
            location.href = "/couponManager";
        })
        $('#myStamp_sj').click(function () {
            location.href = "/mystampManager";
        })

    </script>
</body>

</html>