<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/share.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- <script src="main.js"></script> -->
</head>

<body>
    <div class="menu">
        <div id="store_name_web">또래끼리</div>
        <div id="market_name_web">화양시장</div>
        <table>
            <tr>
                <th class="menu_list" style="color: #63dded;border-left-color: #63dded;">상점 정보</th>
            </tr>
            <tr>
                <th class="menu_list">스탬프 정보</th>
            </tr>
            <tr>
                <th class="menu_list">리뷰</th>
            </tr>
        </table>
    </div>
    <div id="store_infor">
        <div id="logo_div">
            <img id="logo" src="/images/logo_with_text.png" style="padding-top:20px;">
        </div>
        <div id="menu_infor">
            <div id="top_infor">
                <div id="name_sj">
                    <p id="store_name_sj">
                        또래끼리
                    </p>
                    <p id="market_name_sj">
                        화양시장
                    </p>
                </div>
                <div id="sns_sj">
                    <div id="good">
                        <img class='top_image' id="noGood_Button_sj" src="/images/nolikeM.png" width="30px" height="30px" style="padding-top:15px;">
                        <p class="top_font" id="goodCount_sj">23</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="about_store">
           
            

            <div class="detail">
                <h3>상점 정보</h3>
                <div class="store_detail_sj">
                    <div class="store_image"></div>
                    <div id="introduce">
                        <img src="/images/storeM.png" width="30px" height="30px">
                        <div class="name">상점소개</div>
                        <div id="intro_content">
                            저희 또래끼리는 화양시장을 대표하는 맛집입니다. 학생들을 위해 저렴한 가격으로 엄마가 손수 해주시던 김치 볶음밥의 향연을 느껴보세요.
                        </div>
                    </div>
                    <div id="map">
                        <img src="/images/location3.png" width="30px" height="30px">
                        <div class="name">위치</div>
                    </div>
                    <img src="/images/han.png" width="80%" style="margin-left: 10%;margin-top: 5%;">
                </div>
            </div>
            <div class="line"></div>
            <div class="detail">
                    <h3>스탬프 정보</h3>
                    <div id="stamp_menu_sj">
                        <div class="stamp_sj">
    
                            <div class="tenControls_sj">
                                <div class="tenStamp_sj">
    
                                    <div class="tenStamp_top_sj">
                                        <div class="ten_sj">
                                            <p>1</p>
                                        </div>
                                        <div class="ten_sj">
                                            <p>2</p>
                                        </div>
                                        <div class="ten_sj">
                                            <p>3</p>
                                        </div>
                                        <div class="ten_sj">
                                            <p>4</p>
                                        </div>
                                        <div class="ten_sj">
                                            <p>5</p>
                                        </div>
                                    </div>
    
                                    <div class="tenStamp_bottom_sj">
                                        <div class="ten_sj">
                                            <p>6</p>
                                        </div>
                                        <div class="ten_sj">
                                            <p>7</p>
                                        </div>
                                        <div class="ten_sj">
                                            <p>8</p>
                                        </div>
                                        <div class="ten_sj">
                                            <p>9</p>
                                        </div>
                                        <div class="ten_sj">
                                            <p>10</p>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
    
                            <div class="fiveControls_sj">
                                <div class="fiveStamp_sj">
                                    <div class="five_sj">
                                        <p>1</p>
                                    </div>
                                    <div class="five_sj">
                                        <p>2</p>
                                    </div>
                                    <div class="five_sj">
                                        <p>3</p>
                                    </div>
                                    <div class="five_sj">
                                        <p>4</p>
                                    </div>
                                    <div class="five_sj">
                                        <p>5</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="stamp_infor">
                            <img src="/images/standard.png" width="30px" height="30px">
                            <div class="name">적립기준</div>
                            <div class="stamp_infor_content">
                                5000원 이상 구매시
                            </div>
                        </div>
    
                        <div class="stamp_infor">
                            <img src="/images/rewardM.png" width="30px" height="30px">
                            <div class="name">보상기준</div>
                            <div class="stamp_infor_content">
                                볶음밥 1인분 무료
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
            <div class="detail">
                <h3>리뷰</h3>
                <div class="store_review_sj">

                </div>
            </div>

        </div>
    </div>
</body>
<script>
    $('.store_image').css({ "background": "url(/images/market3.jpg)", 'background-repeat': 'no-repeat', 'background-position': 'center center' });
    $('tr').click(function () {
        var index = $(this).index();
        $('.menu_list').css('border-left-color', '#9c9c9c').css('color', '#9c9c9c');
        $('.menu_list').eq(index).css('border-left-color', '#63dded').css('color', '#63dded');
        $('.detail').css('display','none');
        $('.detail').eq(index).css('display','block');


    })
</script>

</html>