<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up Manager</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <body>
    <h1>Sign Up Manager</h1>
    <div>
      <form id='signupForm'>
        <input type="text" id="manager_id" name='manager_id' placeholder="manager_id" style='margin-bottom: 10px;'>
        <br>
        <input type="text" id="password" name='password' placeholder="password" style='margin-bottom: 10px;'>
        <br>
        <input type="text" id="market_name" name='market_name' placeholder="market_name" style='margin-bottom: 10px;'>
        <br>
        <input type="text" id="market_location" name='market_location' placeholder="market_location" style='margin-bottom: 10px;'>
        <br>
        <input type="text" placeholder="manager_phone" id="manager_phone" name='manager_phone' style='margin-bottom: 10px;'>
        <br>
        <input type="text" placeholder="manager_name" id="manager_name" name='manager_name' style='margin-bottom: 10px;'>
        <br>
        <select class='stamp_standard' name="stamp_standard">
          <option>5</option>
          <option>10</option>
        </seclect>

        <br>

        <input type="text" placeholder="stamp_reward" id="stamp_reward" name='stamp_reward' style='margin-bottom: 10px;'>
        <br>
        <input type="text" placeholder="stamp_password" id="stamp_password" name='stamp_password' style='margin-bottom: 10px;'>
        <br>
        <input type="text" placeholder="market_promotion" id="market_promotion" name='market_promotion' style='margin-bottom: 10px;'>
        <br>
        <select class='stamp_kind' name="stamp_kind">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </seclect>

        <br>

        <input type="text" placeholder="market_introduce" id="market_introduce" name='market_introduce' style='margin-bottom: 10px;'>
        <br>
          <input type='submit' value='회원가입' style='margin-bottom: 10px;'/><br/>
        </form>
        <script>
        $('#signupForm').submit(function(e) {
          e.preventDefault();

          var manager_id = $('#manager_id').val();
          var password= $('#password').val();
          var market_name= $('#market_name').val();
          var market_location= $('#market_location').val();
          var manager_name= $('#manager_name').val();
          var manager_phone= $('#manager_phone').val();
          var stamp_reward= $('#stamp_reward').val();
          var stamp_password= $('#stamp_password').val();
          var market_promotion= $('#market_promotion').val();
          var market_introduce= $('#market_introduce').val();

          var test = document.getElementsByClassName('stamp_standard');
          var select_stamp_standard = test[0].selectedIndex;
          var stamp_standard;
          if(select_stamp_standard == 0){
            stamp_standard = 5;
          }else if(select_stamp_standard == 1){
            stamp_standard = 10;
          }
          var test = document.getElementsByClassName('stamp_kind');
          var select_stamp_kind = test[0].selectedIndex;
          var stamp_kind;
          if(select_stamp_kind == 0){
            stamp_kind = 1;
          }else if(select_stamp_kind == 1){
            stamp_kind = 2;
          }else if(select_stamp_kind == 2){
            stamp_kind = 3;
          }
          var data = {

            'manager_id': manager_id,
            'password': password,
            'market_name': market_name,
            'market_location': market_location,
            'manager_phone': manager_phone,
            'manager_name': manager_name,
            'stamp_reward': stamp_reward,
            'stamp_password': stamp_password,
            'market_promotion': market_promotion,
            'market_introduce': market_introduce,
            'stamp_standard' : stamp_standard,
            'stamp_kind' : stamp_kind

          }
          $.ajax({
            type : "POST",
            url : "/signup/signupmanager",
            contentType : "application/x-www-form-urlencoded; charset=UTF-8",
            cache: false,
            datatype : "json",
            data : data,
            success : function(result){
              if (result['result']=='success'){
                alert('가입 성공');
                $(window).attr('location','/login');
              }
              else if(result['result'] == 'already') {
                alert('이미 존재하는 아이디입니다.');
                $('#manager_id').val('')
              }
            },
            error: function(error){
              alert('가입 실패');
            }
          });
        });
      </script>
    </div>
  </body>
</html>
