<!DOCTYPE html>
<html>

<head>
    <title>login</title>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="/stylesheets/swiper.min.css">
    <script src='/cordova/cordova.js'></script>
    <script src='/cordova/cordova_plugins.js'></script>
    <script type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script src="/javascripts/spin.js"></script>
     <!-- <script>

        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script> -->
</head>

<script>


  document.addEventListener("backbutton", onBackKeyDown, false);
  function onBackKeyDown(e) {
     e.preventDefault();
      $('.alert_out').css('display', 'block');
      $('.alert_content_select').html('앱을 종료하시겠습니까?')
      $('.alert_select_ok_out').click(function () {
       navigator.app.exitApp();
      });
  }

  window.seoulApp.getGPS();


</script>
<!-- kakao map API (hw edit) -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1f14a7f1512988347e7ffdd75ac7ab4c"></script>

<body>
    <!-- hw edit; creat dragable map -->
    <!-- <div id="map" style="width:100%; height:80%;"></div> -->
    <div id="map_div"style="width:100%; height:100%; display:none;">
            <div id="map" style="width:100%; height:80%;"></div>
        <input type="button"style="background-image:url('/images/placeholder.png'); background-position:center center; background-size:20px 20px; background-repeat:no-repeat" id="getMarket_location"/>
        <img id="back_map" src="/images/backButton_blue.png" width="25px"height="25px" style="padding-left:10px; padding-top: 10px">

        <p>지도에서 위치를 클릭하시거나 오른쪽 상단의 내 위치 아이콘 클릭 후 확인버튼을 눌러주세요</p>
        <button id="map_getLocationButton">확인</button>
    </div>

        <div class="swiper-container user">
            <div class="swiper-wrapper">
                <div class="swiper-slide user_way" style="overflow: hidden;">
                    <div class="introduce_way" style="height: 20%;">
                        <div style="height: 37%;"></div>
                        <div style="height: 23%;"class="big_intro">시장이름 상점이름</div>
                        <div style="height: 20%;color:#63dded;"class="big_intro">모두 검색 가능</div>
                        <div style="height: 20%;"></div>
                    </div>
                    <div id="user1" style="height: 80%;"></div>
                </div>
                <div class="swiper-slide user_way" style="overflow: hidden;">
                    <div class="introduce_way" style="height: 20%;">
                        <div style="height: 37%;"></div>
                        <div style="height: 23%;"class="big_intro">스탬프를 찍고</div>
                        <div style="height: 20%;color:#63dded;"class="big_intro">보상을 받아요</div>
                        <div style="height: 20%;"class="small_intro">스탬프는 상점검색이나 인기상점에서 다운받아요</div>
                    </div>
                    <div id="user2" style="height: 80%;"></div>
                </div>
                <div class="swiper-slide user_way" style="overflow: hidden;">
                    <div class="introduce_way" style="height: 20%;">
                        <div style="height: 37%;"></div>
                        <div style="height: 23%;color:#63dded;"class="big_intro">쿠폰을 다운받고</div>
                        <div style="height: 20%;"class="big_intro">혜택을 누려요</div>
                        <div style="height: 20%;"class="small_intro">내 쿠폰함에서 다운받은 쿠폰을 확인할 수 있어요</div>
                    </div>
                    <div id="user3" style="height: 80%;"></div>
                </div>
                <div class="swiper-slide user_way" style="overflow: hidden;">
                    <div class="introduce_way" style="height: 20%;">
                        <div style="height: 37%;"></div>
                        <div style="height: 23%;"class="big_intro">쿠폰과 스탬프는</div>
                        <div style="height: 20%;color:#63dded;"class="big_intro">상인에게 보여주세요</div>
                        <div style="height: 20%;"class="small_intro">상인이 비밀번호를 입력해야 사용할 수 있어요</div>
                    </div>
                    <div id="user4" style="height: 80%;"></div>
                    <img id="user_x" src="/images/cancel.png" width="17px" height="17px">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="swiper-container manager">
                <div class="swiper-wrapper">
                <div class="swiper-slide manager_way" style="overflow: hidden;">
                        <div class="introduce_way" style="height: 20%;">
                            <div style="height: 37%;"></div>
                            <div style="height: 23%;"class="big_intro">회원가입을 할 때</div>
                            <div style="height: 20%;color:#63dded;"class="big_intro">사진을 올리고 정보를 등록해요</div>
                            <div style="height: 20%;"></div>
                        </div>
                        <div id="manager1" style="height: 80%;"></div>
                    </div>
                    <div class="swiper-slide manager_way" style="overflow: hidden;">
                        <div class="introduce_way" style="height: 20%;">
                            <div style="height: 37%;"></div>
                            <div style="height: 23%;"class="big_intro">여러가지 조건을 설정하고</div>
                            <div style="height: 20%;color:#63dded;"class="big_intro">쿠폰을 등록해요</div>
                            <div style="height: 20%;"class="small_intro">등록한 쿠폰은 수정할 수 없어요</div>
                        </div>
                        <div id="manager2" style="height: 80%;"></div>
                    </div>
                    <div class="swiper-slide manager_way" style="overflow: hidden;">
                        <div class="introduce_way" style="height: 20%;">
                            <div style="height: 37%;"></div>
                            <div style="height: 23%;"class="big_intro">손님의 쿠폰과 스탬프의</div>
                            <div style="height: 20%;color:#63dded;"class="big_intro">키패드를 찍어주세요</div>
                            <div style="height: 20%;"class="small_intro">상인이 등록한 비밀번호를 입력해야 해요</div>
                        </div>
                        <div id="manager3" style="height: 80%;"></div>
                    </div>
                    <div class="swiper-slide manager_way" style="overflow: hidden;">
                        <div id="manager4" style="height: 30%;"></div>
                        <div style="height: 5%;"class="small_intro1">고객들에게 쿠폰을 추가로 발급해보세요</div>
                        <div style="height: 5%;"class="small_intro1">쿠폰은 회원가입 후 선택적으로 만들어요</div>
                        <div style="height: 5%;"class="small_intro1_S1">쿠폰은 </div>
                        <div style="height: 10%;"class="small_intro1_S"> 선택</div>

                        <div style="height: 5%;"class="small_intro2_P1">스템프는 </div>
                        <div style="height: 8%;"class="small_intro2_P">필수</div>
                        <div style="height: 5%;"class="small_intro2">스탬프는 회원가입 시 함께 발급해요</div>
                        <div style="height: 5%;"class="small_intro2_1">상점에 맞게 스탬프를 발급하세요</div>
                        <div id="manager5" style="height: 30%;"></div>
                        <img id="manager_x" src="/images/cancel.png" width="17px" height="17px">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

    <div class="alert_x" style="display:none">
        <div class="alert_x_content">
          <div class="alert_image">
            <img src="/images/alert_x.png" width="70px" height="70px" >
          </div>
          <div class="alert_content">
          </div>
        </div>
      </div>

      <div class="alert_o" style="display:none">
          <div class="alert_o_content">
            <div class="alert_image">
              <img src="/images/alert_o.png" width="70px" height="70px" >
            </div>
            <div class="alert_content">
            </div>
          </div>
        </div>

          <div class="alert_select"  style="display:none">
              <div class="alert_o_content">
                <div class="alert_content_select">
                </div>
                <div class="alert_select_cancel">
                  취소
                </div>
                <div class="alert_select_ok">
                    확인
                  </div>
              </div>
            </div>
            <div class="alert_gps"  style="display:none">
                    <div class="alert_o_content">
                      <div class="alert_content_select_gps">
                      </div>
                      <!-- <div class="alert_select_cancel_gps">
                        취소
                      </div>
                      <div class="alert_select_ok_gps">
                          재시도
                        </div> -->
                    </div>
                  </div>

            <div class="alert_out"  style="display:none">
                    <div class="alert_o_content">
                      <div class="alert_content_select">
                      </div>
                      <div class="alert_select_cancel">
                        취소
                      </div>
                      <div class="alert_select_ok_out">
                          확인
                        </div>
                    </div>
                  </div>




    <!--start div 시작-->

    <div id="start">
            <!-- <div id="intro_image_div">
                    <img id="intro_image" src="/images/logo_with_text.png">
                </div> -->
        <div id="all_body" >

            <div id="top_part">
                <div id="top_vertical_helper">
                    <img id="startlogo" src="/images/logo_with_text.png">

                </div>
            </diV>
            <div id="bottom_part">
                <div class="login_button">
                    <button id="user_login">고객 로그인</button>
                </div>
                <div class="login_button">
                    <button id="seller_login">상인 로그인</button>
                </div>
                <!-- 코르도바 gps 테스트 위한 링크 ( hw edit ) -->
                <div style="text-align: center;">

                </div>
            </div>
        </div>
    </div>
    <!--start div 끝-->


    <!--loginuser 시작-->
    <div id="loginuser">
        <img id="back_loginuser" src="/images/backButton_blue.png" />
        <div id="top_logo">
            <img id="loginUser_logo_with_text2" src="/images/logo_with_text.png">
        </div>
        <form class="formuser" id='formuser' action='/login' method='POST'>
            <div class="login_button_user_1">
                <input id='user_id' class="inputuser" type='text' name='userid' placeholder=' 아이디' />
            </div>

            <div class="login_button_user_2">
                <input id="userpassword" class="inputuser" type='password' name='userpwd' placeholder=' 비밀번호' />
            </div>
            <br>
            <div class="login_button_user3">
                <button type='submit' id="loginButton_user" class="loginUser_insert">로그인</button>
            </div>
        </form>
        <div id="login_button_user2">
            <!-- <img id="Login_M" onclick="login_maintain()" src="/images/login_off.png"> -->
            <button class="idfind" id="idfind">아이디 찾기</button>
            <button id="password_find1">비밀번호찾기</button>
            <button type="button" id="loginUser_sign_up">회원가입</button>
        </div>

        <script>
            $('#idfind').click(function (e) {
                e.preventDefault();
                $(window).attr('location', '/findid');
            });
            $('#password_find1').click(function (e) {
                e.preventDefault();
                $(window).attr('location', '/findpassword_user');
            });
            $('#formuser').submit(e => {
              e.preventDefault();
              var data = {
                'userid': $('#user_id').val(),
                'userpwd': $('#userpassword').val()
              };
              $.post('/login', data, result => {
                if(result['result'] == 'success') {
                    $('.alert_o').css('display','block');
                    $('.alert_content').html('로그인 완료')
                    setTimeout(function () {
                        $(window).attr('location', '/main');
                     }, 1000);
                }
                else {
                    $('.alert_x').css('display','block');
                    $('.alert_content').html('비밀번호와 아이디를 확인하세요')
                    $('#userpassword').val('');
                }
              });
            });
        </script>



        <div id="kakao_logo">
            <div class="login_button_user4" id="kakaobutton2">
                <!-- <a href='/login/kakao'>
                    <button id="kakaobutton">
                        <div style="width:40%;text-align: right;height: 50px;;">
                            <img id="kakao_Image" src="/images/kakao_Image.png">
                        </div>
                        <p style="width:60%; text-align: left;">카카오톡 시작하기</p>
                    </button>
                </a> -->
                <button id="way">
                    도움말
                </button>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("input").each(function () {
                $(this).bind("focus", function () {
                    $(".header").css("position", "absolute");
                });
                $(this).bind("blur", function () {
                    $(".header").css("position", "fixed");
                });
            });
        });
    </script>
    <!--loginuser 끝-->


    <!--loginManager 시작-->
    <div id="loginManager">
        <img id="back_loginManager" src="/images/backButton_blue.png">
        <div id="top_logo">
            <img id="loginUser_logo_with_text2" src="/images/logo_with_text.png">
        </div>
        <div class="formManager">
            <div class="login_button_formManager1">
                <input class="inputmanager" type='text' id="manager_id" name='manager_id' placeholder='아이디' />
            </div>
            <div class="login_button_formManager2">
                <input class="inputmanager" type='password' id="password" name='password' placeholder='비밀번호' />
            </div>
        </div>
        <div id="login_button_manager">
            <button class="idfind" id="idfind_manager">아이디 찾기</button>
            <button id="password_find2">비밀번호 찾기</button>
            <button id="loginmanager_sign_up">회원가입</button>
        </div>
        <div id="kakao_logo2">
            <div class="login_button_user5">
                <button type='submit' id="loginButton_manager" value='' class="loginUser_insert">로그인</button>
            </div>
        </div>
        <div id="kakao_logo">
                <div class="login_button_user4">
                    <button id="way_M">
                        도움말
                    </button>
                </div>
            </div>
    </div>
    <script>
        // var doubleSubmitFlag = false;
        // function doubleSubmitCheck() {
        //     if (doubleSubmitFlag) {
        //         return doubleSubmitFlag;
        //     } else {
        //         doubleSubmitFlag = true;
        //         return false;
        //     }
        // }
        var chk_send = 0;
        $('#loginButton_manager').click(function (e) {
            // if (doubleSubmitCheck()) return;
            e.preventDefault();
            if (chk_send == 0){
            chk_send = 1;
            var manager_id = $('#manager_id').val();
            var password = $('#password').val();
            var data = {
                'manager_id': manager_id,
                'password': password
            }
            console.log(data);
            $.ajax({ // ajax 통신으로 지원자 입력한 정보를 서버에 보낸다.
                type: 'POST',
                url: '/loginmanager',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                cache: false,
                dataType: 'json',
                data: data,
                success: function (result) {
                    chk_send = 0;
                    if (result['result'] == 'success') {
                        $('.alert_o').css('display', 'block');
                        $('.alert_content').html('로그인 완료')
                        setTimeout(function () {
                            $(window).attr('location', '/mainManager');
                        }, 1000);
                    } else {
                        $('.alert_x').css('display', 'block');
                        $('.alert_content').html('비밀번호와 아이디를 확인하세요');
                        // $('.alert_x').click(function () {
                        //     $(window).attr('location', '/start');
                        // })
                        $('#password').val('');
                    }
                },
                error: function (error) {
                    console.log('erer');
               //     $('.alert_x').css('display','block'); //여기랑
                    // $('.alert_content').html('아이디 혹은 비밀번호를 다시 입력해주세요.');
                 //   $('.alert_x').click(function(){   // 여기 추가시켰는데 맞나요?
                    window.reload();
               // })
                }
            });
            }
            else {
                return false;
            }
        });
        $('#idfind_manager').click(function (e) {
            e.preventDefault();
            $(window).attr('location', '/findidmanager');
        });
        $('#password_find2').click(function (e) {
            e.preventDefault();
            $(window).attr('location', '/findpassword_manager');
        });
    </script>
    <!--loginManager 끝-->


    <!--signupuser 시작-->
    <div id="signupuser">
        <img id="back_signupuser" src="/images/backButton_blue.png">
        <form class='signupform1'>
            <div class="signupuser_input">
                <div class="check_div">
                    <img id="check1" src="/images/check.png" width="35px" height="35px">
                </div>
                <div class="icon_div">
                    <img id="icon1" src="/images/name_icon.png">
                </div>
                <input class="signuptext" type='text' id='username' name='username' placeholder='이름' />
            </div>
            <div class="signupuser_input">
                <div class="check_div">
                    <img id="check2" src="/images/check.png" width="35px" height="35px">
                </div>
                <div class="icon_div">
                    <img id="icon2" src="/images/my_icon.png">
                </div>
                <input class="signuptext" type='text' id='userid' name='userid' placeholder='아이디' />
            </div>
            <div class="signupuser_input">
                <div class="check_div">
                    <img id="check3" src="/images/check.png" width="35px" height="35px">
                </div>
                <div class="icon_div">
                    <img id="icon3" src="/images/password_icon.png">
                </div>
                <input class="signuptext" type='password' id='userpwd' name='userpwd' placeholder='비밀번호' />
            </div>
            <div class="signupuser_input">
                <div class="check_div">
                    <img id="check4" src="/images/check.png" width="35px" height="35px">
                </div>
                <div class="icon_div">
                    <img id="icon4" src="/images/password_icon.png">
                </div>
                <input class="signuptext" type='password' id='userpwdcheck' name='userpwd' placeholder='비밀번호확인' />
            </div>
            <div class="signupuser_input">
                <div class="check_div">
                    <img id="check5" src="/images/check.png" width="35px" height="35px">
                </div>
                <div class="icon_div">
                    <img id="icon5" src="/images/email_icon.png">
                </div>
                <div>
                    <input class="signuptext" type='text' id='e_mail' name='e_mail' placeholder='이메일' />
                </div>
            </div>
            <div class="signupuser_input2">
                <input class="signupbutton" id="userfinish" type='submit' value='고객 회원가입' />
            </div>
        </form>
    </div>
    <script>
        $('.signupform1').submit(function (e) {
            var signcount = 0;
            e.preventDefault();
            for (var i = 0; i < 5; i++) {
                if ($('.check_div').eq(i).css('visibility') == 'visible') {
                    signcount++;
                }
                else {
                    continue;
                }
            }
            if (signcount == 5) {
                var data = {
                    userid: $('#userid').val(),
                    username: $('#username').val(),
                    userpwd: $('#userpwd').val(),
                    email: $('#e_mail').val()
                }
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: "/signup/signupuser",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    cache: false,
                    datatype: "json",
                    data: data,
                    success: function (result) {
                        if (result['result'] == 'success') {
                            $('.alert_o').css('display','block');
                            $('.alert_content').html('회원가입이 완료되었습니다');
                            $('.alert_o').click(function(){

                                // $('#signupuser').css('display','none');
                                // $('#loginuser').css('display','block');
                                // $('#userid').val('');
                                // $('#username').val('');
                                // $('#userpwd').val('');
                                // $('#userpwdcheck').val('');
                                // $('#e_mail').val('');
                                // $('.check_div').css('visibility', 'hidden');

                                // localStorage.setItem('signup', 1);
                                location.reload();

                            })
                        }
                        else if (result['result'] == 'already') {
                            $('.alert_x').css('display','block');
                            $('.alert_content').html('이미 존재하는 아이디입니다');
                            $('.check_div').eq(1).css('visibility', 'hidden');
                            $('#userid').val('');

                        }
                    },
                    error: function (error) {
                        $('.alert_x').css('display','block');
                        $('.alert_content').html('이상한부분');
                        $('.alert_x').click(function(){
                        $(window).reload('');
                    })
                    }
                });
            }
            else {
                $('.alert_x').css('display','block');
                        $('.alert_content').html('회원정보를 모두 입력해주세요');
            }
        });
    </script>
    </div>

    <!--signupuser 끝-->


    <!--signupManager 시작-->
    <script type="text/javascript" charset="utf-8">
    var pictureSource;   // picture source
    var destinationType; // sets the format of returned value
    // Wait for device API libraries to load
    //
    document.addEventListener("deviceready",onDeviceReady,false);
    // device APIs are available
    //
    function onDeviceReady() {
        pictureSource=navigator.camera.PictureSourceType;
        destinationType=navigator.camera.DestinationType;
    }
    // Called when a photo is successfully retrieved
    //
    function onPhotoDataSuccess(imageData) {
      // Uncomment to view the base64-encoded image data
      // console.log(imageData);
      // Get image handle
      //
      var smallImage = document.getElementById('smallImage');
      // Unhide image elements
      //
      smallImage.style.display = 'block';
      // Show the captured photo
      // The inline CSS rules are used to resize the image
      //
      smallImage.src = "data:image/jpeg;base64," + imageData;
    }
    // Called when a photo is successfully retrieved
    //
    function onPhotoURISuccess(imageURI) {
      // Uncomment to view the image file URI
      // console.log(imageURI);
      // Get image handle
      //
      var largeImage = document.getElementById('largeImage');
      // Unhide image elements
      //

      largeImage.style.display = 'block';
     // largeImage.style.display = 'visible';

      // Show the captured photo
      // The inline CSS rules are used to resize the image
      //
      largeImage.src = imageURI;
    }
    // A button will call this function
    //
    function capturePhoto() {
      // Take picture using device camera and retrieve image as base64-encoded string
      navigator.camera.getPicture(onPhotoDataSuccess, onFail, { quality: 50,
        destinationType: destinationType.DATA_URL });
    }
    // A button will call this function
    //
    var uploadPhoto = function(){
      var options = {
        quality : 50,
        destinationType : Camera.DestinationType.DATA_URL,
        sourceType : Camera.PictureSourceType.PHOTOLIBRARY,
        allowEdit : true,
        encodingType : Camera.EncodingType.JPEG,
        targetWidth : 300,
        targetHeight : 300,
        popoverOptions : CameraPopoverOptions,
        saveToPhotoAlbum : false
      }
      navigator.camera.getPicture(function(imageData) {
        var smallImage = document.getElementById('smallImage');

        // Unhide image elements
        //
        smallImage.style.display = 'visible';

        // Show the captured photo
        // The inline CSS rules are used to resize the image
        //
        smallImage.src = "data:image/jpeg;base64," + imageData;
         // $("#smallImage").attr("src",imageData);
      }, function(err){
      }, options);
    }
    var takePicture = function(){
            var options = {
                quality          : 75,
                destinationType  : Camera.DestinationType.DATA_URL,
                sourceType       : Camera.PictureSourceType.CAMERA,
                allowEdit        : true,
                encodingType     : Camera.EncodingType.JPEG,
                targetWidth      : 300,
                targetHeight     : 300,
                popoverOptions   : CameraPopoverOptions,
                saveToPhotoAlbum : false
            };
            navigator.camera.getPicture(function(imageURI) {
        var smallImage = document.getElementById('smallImage');

        // Unhide image elements
        //
        smallImage.style.display = 'visible';

        // Show the captured photo
        // The inline CSS rules are used to resize the image
        //
        smallImage.src = "data:image/jpeg;base64," + imageURI;
        // $("#smallImage").attr("src",imageURI);
            }, function(err) {
            }, options);
        };
    // function capturePhotoEdit() {
    //   // Take picture using device camera, allow edit, and retrieve image as base64-encoded string
    //   navigator.camera.getPicture(onPhotoDataSuccess, onFail, { quality: 20, allowEdit: true,
    //     destinationType: destinationType.DATA_URL });
    // }
    // A button will call this function
    //
    function getPhoto(source) {
      // Retrieve image file location from specified source
      navigator.camera.getPicture(onPhotoURISuccess, onFail, { quality: 50,
        destinationType: destinationType.FILE_URI,
        sourceType: source });
    }
    // Called if something bad happens.
    //
    function onFail(message) {
      alert('Failed because: ' + message);
    }
    </script>
    <div id="signupManager">
        <img id="back_signupManager" src="/images/backButton_blue.png">
        <div class="menu">
            <div class="go_slide" style="color:#63dded;">회원정보</div>
            <div class="go_slide">상점정보</div>
            <div class="go_slide">스탬프정보</div>
        </div>

        <form id='signupForm2'>
            <div class="swiper-container s1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="signupuser_input3">
                            <div class="manager_check_div">
                                <img src="/images/check.png" width="30px" height="30px">
                            </div>
                            <div class="manager_signup_name">이름</div>
                            <input class="signuptext2" type="text" placeholder="ex)홍길동" id="manager_name" name='manager_name'>
                        </div>
                        <div class="signupuser_input3">
                            <div class="manager_check_div">
                                <img src="/images/check.png" width="30px" height="30px">
                            </div>
                            <div class="manager_signup_name">아이디</div>
                            <input class="signuptext2" type="text" id="manager_id_jh" name='manager_id' placeholder="ex)manager123">
                        </div>
                        <div class="signupuser_input3">
                            <div class="manager_check_div">
                                <img src="/images/check.png" width="30px" height="30px">
                            </div>
                            <div class="manager_signup_name">비밀번호</div>
                            <input class="signuptext2" type="password" id="password_jh" name='password' placeholder="비밀번호">
                        </div>
                        <div class="signupuser_input3">
                            <div class="manager_check_div">
                                <img src="/images/check.png" width="30px" height="30px">
                            </div>
                            <div class="manager_signup_name">비밀번호확인</div>
                            <input class="signuptext2" type="password" id="password_jh_check" name='password' placeholder=" 비밀번호확인">
                        </div>
                        <div class="signupuser_input3">
                            <div class="manager_check_div">
                                <img src="/images/check.png" width="30px" height="30px">
                            </div>
                            <div class="manager_signup_name">상점번호</div>
                            <input class="signuptext2" type="text" placeholder="ex)02-123-4567" id="manager_phone" name='manager_phone'>
                        </div>
                        <div class="coupon_ment">메뉴 클릭/옆으로 밀기를 통해 모든 정보를 입력해주세요</div>
                    </div>


                    <div class="swiper-slide">
                        <div class="signupuser_input3">
                            <div class="manager_check_div">
                                <img src="/images/check.png" width="30px" height="30px">
                            </div>
                            <div class="manager_signup_name">상점이름</div>
                            <input class="signuptext2" type="text" id="market_name" name='market_name' placeholder="ex)또리네 분식집">
                        </div>


                        <div class="signupuser_input3">
                            <div class="manager_check_div">
                                <img src="/images/check.png" width="30px" height="30px">
                            </div>
                            <div class="manager_signup_name">상점소개</div>
                            <textarea class="signuptext2" type="text" id="market_introduce" name='market_introduce'></textarea>
                        </div>

                        <div class="signuser_coupon1"  id="find_market">
                            <div class="manager_check_div">
                                <img src="/images/check.png" width="30px" height="30px">
                            </div>
                            <div id="sijang_name" name='sijang_name'>시장선택</div>
                            <input type="button" value="시장찾기" id="modal_display" />
                        </div>
                        <div class="signupuser_input3">
                                <div class="manager_check_div">
                                    <img src="/images/check.png" width="30px" height="30px">
                                </div>
                                <div class="manager_signup_name">상점위치</div>
                                <input class="signuptext2" type="text" id="market_location" name='market_location' placeholder="상점 위치" style="display: none;">
                                <input type="button" value="위치찾기" id="location_map">
                            </div>
                        <div class="signuser_coupon1" id="store_picture">
                            <div class="manager_check_div">
                                <img src="/images/check.png" width="30px" height="30px">
                            </div>
                            <div id="sijang_picture" name='sijang_name'>상점사진</div>
                            <label id="picture_pic"for="manager_img" onclick="uploadPhoto();">갤러리</label>
                            <!-- <label id="picture_cat" for="manager_img" onclick="takePicture();">사진 촬영2</label> -->
                            <!-- <label id="picture_pic"for="manager_img" onclick="capturePhotoEdit();">사진 촬영</label> -->
                            <!-- <input type='file' name='manager_img' id='manager_img' accept="image/jpg" src=""/> -->
                        </div>
                        <div style="width:89%; margin-left: 5%;">
                        <label style="margin-left: 50.5%"id="picture_cat" for="manager_img" onclick="takePicture();">사진 촬영</label>
                    </div>
                        <!-- <img class="picture_div" src="/images/market9.jpg" height="auto"</img> -->

                        <img id="smallImage" src='' />




                    </div>


                    <div class="swiper-slide">
                        <div class="signupuser_input3">
                            <div class="manager_check_div">
                                <img src="/images/check.png" width="30px" height="30px">
                            </div>

                            <div class="manager_signup_name">적립기준</div>

                            <input class="signuptext5" type="text" maxlength="16"placeholder="ex)3000원 이상 구매시" id="market_promotion" name='market_promotion'>
                        </div>
                        <div class="signupuser_input3">
                            <div class="manager_check_div">
                                <img src="/images/check.png" width="30px" height="30px">
                            </div>

                            <div class="manager_signup_name">스탬프보상</div>

                            <input class="signuptext5" type="text" maxlength="16"placeholder="ex)채소 2000원 어치 제공" id="stamp_reward" name='stamp_reward'>
                        </div>
                        <div class="signupuser_input3">
                            <div class="manager_check_div">
                                <img src="/images/check.png" width="30px" height="30px">
                            </div>

                            <div class="manager_signup_name">스탬프비밀번호</div>

                            <input class="signuptext5" maxlength="4"type="text" placeholder="ex)4자리 숫자" id="stamp_password" name='stamp_password'>

                        </div>



                        <div class="signuser_coupon2">
                                <div class="manager_check_div">
                                <img src="/images/check.png" width="30px" height="30px">
                                    </div>

                            <div class="manager_signup_name">스탬프 갯수</div>

                            <select class='stamp_standard' name="stamp_standard">
                                <option value="0">선택</option>
                                <option>5</option>
                                <option>10</option>
                            </select>
                        </div>

                        <div class="coupon_ment">스탬프 갯수는 수정이 제한되니 참고하여 생성하세요</div>



                        <div id="myStamp">
                            <div id="store_market_name">
                                <p id="nameing" style="width: 75%">

                                </p>
                                <p id="password_star" style="width: 25%"></p>
                                <!-- </div> -->
                            </div>
                            <div class="my_stamp_count">
                                <div class='tenControls_sj'>
                                    <div class='tenStamp_sj'>
                                        <div class='tenStamp_top_sj'>
                                            <div class="ten_sj">
                                                <p>1</p>
                                            </div>
                                            <div class="ten_sj">
                                                <p>2</p>
                                            </div>
                                            <div class="ten_sj">
                                                <p>3</p>
                                            </div>
                                            <div class="ten_sj">
                                                <p>4</p>
                                            </div>
                                            <div class="ten_sj">
                                                <p>5</p>
                                            </div>
                                        </div>
                                        <div class='tenStamp_bottom_sj'>
                                            <div class="ten_sj">
                                                <p>6</p>
                                            </div>
                                            <div class="ten_sj">
                                                <p>7</p>
                                            </div>
                                            <div class="ten_sj">
                                                <p>8</p>
                                            </div>
                                            <div class="ten_sj">
                                                <p>9</p>
                                            </div>
                                            <div class="ten_sj">
                                                <p id="ten">10</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='fiveControls_sj'>
                                    <div class='fiveStamp_sj'>
                                        <div class="five_sj">
                                            <p>1</p>
                                        </div>
                                        <div class="five_sj">
                                            <p>2</p>
                                        </div>
                                        <div class="five_sj">
                                            <p>3</p>
                                        </div>
                                        <div class="five_sj">
                                            <p>4</p>
                                        </div>
                                        <div class="five_sj">
                                            <p>5</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="logo_image">
                                <img src="/images/inline-logo.png" width="55px" height="auto" style="padding-left: 8%;">
                            </div>
                        </div>




                        <div class="signupuser_input4">
                            <input class="signupbuttonmanager" type='submit' value='회원가입' />
                        </div>
                    </div>
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </form>
        <!-- Modal -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div id="top_modal">
                    <span id="modal_close">&times;</span>
                    <img id="modalstartlogo" src="/images/logo_with_text.png">
                    <div id="search-box">
                        <div id="Searchingtap">
                            <div id="verti">
                                <div id="vertical_helper">
                                    <div id="Searching">
                                        <select id="filed" name="filed">
                                            <option id="modal_market_name" value="name" selected="selected">시장 이름</option>
                                            <option value="gooname">구</option>
                                            <option value="dongname">동</option>
                                            <option value="newaddress">도로명</option>
                                            <option value="oldaddress">지번</option>
                                        </select>
                                        <input type="text" placeholder="searching" id="search_value">
                                        <img src="/images/search.png" value="검색" id="searchingButton" width="40px" height="40px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="modal_result">
                    <ol id="search_result"></ol>
                </div>
                <div id="modal_result2">
                    <button id="modalbutton">확인</button>
                </div>
            </div>
        </div>






        <script>
            $('#signupForm2').submit(function (e) {
                e.preventDefault();
                var signcount_manager=0;
                for (var i = 0; i < 14; i++) {
                if ($('.manager_check_div').eq(i).css('visibility') == 'visible') {
                    signcount_manager++;
                }
                else {
                    continue;
                }
            }
                if (signcount_manager == 14) {
                var manager_id = $('#manager_id_jh').val();
                var password = $('#password_jh').val();
                var market_name = $('#market_name').val();
                var market_location = $('#market_location').val();
                var manager_name = $('#manager_name').val();
                var manager_phone = $('#manager_phone').val();
                var stamp_reward = $('#stamp_reward').val();
                var stamp_password = $('#stamp_password').val();
                var market_promotion = $('#market_promotion').val();
                var market_introduce = $('#market_introduce').val();
                var test = document.getElementsByClassName('stamp_standard');
                var select_stamp_standard = test[0].selectedIndex;
                var stamp_standard;
                if (select_stamp_standard == 1) {
                    stamp_standard = 5;
                } else if (select_stamp_standard == 2) {
                    stamp_standard = 10;
                }
                var manager_image = jQuery('#smallImage').attr("src");
                // var sijang_name = sijang_name.innerHTML;
                var data = {
                    'manager_id': manager_id,
                    'password': password,
                    'market_name': market_name,
                    'market_location': market_location,
                    'manager_phone': manager_phone,
                    'manager_name': manager_name,
                    'stamp_reward': stamp_reward,
                    'stamp_password': stamp_password,
                    'market_promotion': market_promotion,
                    'market_introduce': market_introduce,
                    'stamp_standard': stamp_standard,
                    'sijang_name': sijang_name.innerHTML,
                    'manager_image': manager_image
                };

                var data2 = new FormData();
                data2.append('manager_id', manager_id);
                data2.append('password', password);
                data2.append('market_name', market_name);
                data2.append('market_location', market_location);
                data2.append('manager_phone', manager_phone);
                data2.append('manager_name', manager_name);
                data2.append('stamp_reward', stamp_reward);
                data2.append('stamp_password', stamp_password);
                data2.append('market_promotion', market_promotion);
                data2.append('market_introduce', market_introduce);
                data2.append('stamp_standard', stamp_standard);
                data2.append('sijang_name', sijang_name.innerHTML);
                data2.append('manager_image', manager_image);
                // data2.append('manager_img', $('#smallImg').val());
                $.ajax({
                    type: "POST",
                    url: "/signup/signupmanager",
                    contentType: false,
                    datatype: "json",
                    processData: false,
                    data: data2,

                    // contentType: "application/x-www-form-urlencoded; charset=UTF-8",

                    success: function (result) {
                        if (result['result'] == 'success') {
                            $('.alert_o').css('display','block');
                            $('.alert_content').html('회원가입이 완료되었습니다');
                            $('.alert_o').click(function(){

                                // $('#signupManager').css('display','none');
                                // $('#loginManager').css('display','block');
                                // $('#manager_id_jh').val('');
                                // $('#password_jh').val('');
                                // $('#password_jh_check').val('');
                                // $('#market_name').val('');
                                // $('#market_location').val('');
                                // $('#manager_name').val('');
                                // $('#manager_phone').val('');
                                // $('#stamp_reward').val('');
                                // $('#stamp_password').val('');
                                // $('#market_promotion').val('');
                                // $('#market_introduce').val('');
                                // $('#sijang_name').text('시장선택');
                                // $('.stamp_standard option:eq(0)').attr('selected', 'selected');
                                // $('#smallImage').attr('src', '');
                                // $('.manager_check_div').css('visibility', 'hidden');
                                // $('#nameing').text('');
                                // $('#password_star').text('');
                                // $('.tenControls_sj').css('display', 'none');
                                // $('.fiveControls_sj').css('display', 'none');

                                // localStorage.setItem('signup', 2);
                                location.reload();
                            })

                        }

                        else if (result['result'] == 'already') {
                            $('.alert_x').css('display','block');
                            $('.alert_content').html('이미 존재하는 아이디입니다');
                            $('.manager_check_div').eq(1).css('visibility', 'hidden');
                            $('#manager_id_jh').val('');
                        }
                    },
                    error: function (error) {
                        $('.alert_x').css('display','block');
                            $('.alert_content').html('다시 입력해주세요');
                            $('.alert_x').click(function(){
                        $(window).reload('');
                    })
                    }
                });
            }
            else{
                $('.alert_x').css('display','block');
                $('.alert_content').html('모든 가입 정보를 작성해 주세요');
            }
            });
        </script>
    </div>
    <!--signupManager 끝-->

</body>
<!--start script  시작-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>

<script>
    var swiper = new Swiper('.s1', {
        autoHeight: true,
        observer: true,
        observeParents: true,
        scrollbar: {
            el: '.swiper-scrollbar',
            hide: true,
        },
    });
    swiper.on('slideChangeTransitionStart', function () {
            var active = swiper.activeIndex;
            $('.go_slide').css('color', 'black');
            $('.go_slide').eq(active).css('color', '#63dded');
        });
    var swiper_user = new Swiper('.user', {
            slidesPerView: 'auto',
            centeredSlides: true,
            spaceBetween: 0,
            observer: true,
            observeParents: true,
            pagination: {
                el: '.swiper-pagination',
                dynamicBullets: true,
                clickable: true,
            },
        });

    var swiper_manager = new Swiper('.manager', {
            slidesPerView: 'auto',
            centeredSlides: true,
            spaceBetween: 0,
            observer: true,
            observeParents: true,
            pagination: {
                el: '.swiper-pagination',
                dynamicBullets: true,
                clickable: true,
            },
        });
    $('.go_slide').click(function (e) {
            var this_index = $(this).index();
            e.preventDefault();
            $('.go_slide').css('color', 'black');
            $('.go_slide').eq(this_index).css('color', '#63dded');
            swiper.slideTo(this_index, 500, false);
        });


    // setTimeout(function () {
    //     $('#intro_image_div').fadeOut('1000');
    // }, 2000);

        swiper.on('slideChangeTransitionStart', function () {
            var active = swiper.activeIndex;
            $('.go_slide').css('color', 'black');
            $('.go_slide').eq(active).css('color', '#63dded');
        });
    setTimeout(function () {
        $('#intro_image_div').fadeOut('1000');
    }, 2000);
var ok;
function CheckPass(str){
   var reg1 = /^[a-z0-9]{6,15}$/;    // a-z 0-9 중에 7자리 부터 14자리만 허용 한다는 뜻이구요
   var reg2 = /[a-z]/g;
   var reg3 = /[0-9]/g;
   if((reg1.test(str) &&  reg2.test(str) && reg3.test(str))){
       ok=1;
   }
   else{
       ok=0;
   }

};
    var name2 = /^[가-힣]+$/;


    // var id = /^[a-z0-9_]{6,15}$/;
    var password = /^[a-zA-Z0-9]{6,15}$/;
    var password_number=/^[0-9]{4}$/;
    var email = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
    $('.signuptext').eq(0).change(function () {
        var name_check = $(this).val();
        var true_or_false = name2.test(name_check);
        if (true_or_false) {
            $('.check_div').eq(0).css('visibility', 'visible');
        }
        else {
            $('.check_div').eq(0).css('visibility', 'hidden');
            $('.alert_x').css('display','block');
            $('.alert_content').html('이름을 확인해 주세요');
        }
    })
    $('.signuptext').eq(4).change(function () {
        var email_check = $(this).val();
        var true_or_false = email.test(email_check);
        if (true_or_false) {
            $('.check_div').eq(4).css('visibility', 'visible');
        }
        else {
            $('.check_div').eq(4).css('visibility', 'hidden');
            $('.alert_x').css('display','block');
            $('.alert_content').html('이메일을 확인해 주세요');
            $(this).val('');
        }
    })
    $('.signuptext').eq(1).change(function () {
            var id_check = $(this).val();
            CheckPass(id_check)
            if (ok == 1) {
                $('.check_div').eq(1).css('visibility', 'visible');
            }
            else {
                $('.check_div').eq(1).css('visibility', 'hidden');
                $('.alert_x').css('display', 'block');
                $('.alert_content').html('6~15자리 숫자/영문자 조합으로 아이디를 생성할 수 있습니다');
            }
        })
    var pwd1, pwd2 = 0;
    var pwd1_M,pwd2_M=0;
    $('#userpwd').change(function () {
        pwd1 = $(this).val();
        CheckPass(pwd1)
            if (ok == 1) {
                if ($('#userpwdcheck').val()) {
                if (pwd1 == pwd2) {
                    $('.check_div').eq(2).css('visibility', 'visible');
                    $('.check_div').eq(3).css('visibility', 'visible');
                }
                else {
                    $('.alert_x').css('display','block');
                    $('.alert_content').html('비밀번호가 다릅니다');
                    $(this).val('');
                    $('#userpwdcheck').val('');
                    $('.check_div').eq(2).css('visibility', 'hidden');
                    $('.check_div').eq(3).css('visibility', 'hidden');
                }
            }
            }
            else {
                $('.alert_x').css('display','block');
            $('.alert_content').html('6~15자리 숫자/영문자 조합으로 비밀번호를 생성할 수 있습니다');
            $(this).val('');
            }
    })
    $('#userpwdcheck').change(function () {
        pwd2 = $(this).val();
        CheckPass(pwd2)
            if (ok == 1) {
                if ($('#userpwd').val()) {
                if (pwd1 == pwd2) {
                    $('.check_div').eq(2).css('visibility', 'visible');
                    $('.check_div').eq(3).css('visibility', 'visible');
                }
                else {
                    $('.alert_x').css('display','block');
                    $('.alert_content').html('비밀번호가 다릅니다');
                    $(this).val('');
                    $('#userpwd').val('');
                    $('.check_div').eq(2).css('visibility', 'hidden');
                    $('.check_div').eq(3).css('visibility', 'hidden');
                }
            }
            }
            else {
                $('.alert_x').css('display','block');
            $('.alert_content').html('6~15자리 숫자/영문자 조합으로 비밀번호를 생성할 수 있습니다');
            $(this).val('');
            }
    })
    //////////유저회원가입 정규식/////////////
    $('.signuptext2').eq(0).change(function () {
        var name_check = $(this).val();
        var true_or_false = name2.test(name_check);
        if (true_or_false) {
            $('.manager_check_div').eq(0).css('visibility', 'visible');
        }
        else {
            $('.manager_check_div').eq(0).css('visibility', 'hidden');
            $('.alert_x').css('display','block');
            $('.alert_content').html('이름을 확인해 주세요');
        }
    })
    $('.signuptext2').eq(4).change(function () {
        if($(this).val()){
            $('.manager_check_div').eq(4).css('visibility', 'visible')
        }
        else{
            $('.manager_check_div').eq(4).css('visibility', 'hidden')
        }
    })
    $('#smallImage').on('load', function () {
$('.manager_check_div').eq(9).css('visibility', 'visible')
});
    $('.signuptext2').eq(5).change(function () {
        var naming=$(this).val();
        if($(this).val()){
            $('.manager_check_div').eq(5).css('visibility', 'visible')
            $('#nameing').html(naming)
        }
        else{
            $('.manager_check_div').eq(5).css('visibility', 'hidden')
            $('#nameing').html('')
        }
    })
    // $('.signuptext2').eq(6).change(function () {
    //     if($(this).val()){
    //         $('.manager_check_div').eq(6).css('visibility', 'visible')
    //     }
    //     else{
    //         $('.manager_check_div').eq(6).css('visibility', 'hidden')
    //     }
    // })
    $('.signuptext2').eq(6).change(function () {
        if($(this).val()){
            $('.manager_check_div').eq(6).css('visibility', 'visible')
        }
        else{
            $('.manager_check_div').eq(6).css('visibility', 'hidden')
        }
    })
    $('.signuptext5').eq(0).change(function () {
        var naming=$(this).val();
        if($(this).val()){
            $('.manager_check_div').eq(10).css('visibility', 'visible')
        }
        else{
            $('.manager_check_div').eq(10).css('visibility', 'hidden')
        }
    })
    $('.signuptext5').eq(1).change(function () {
        if($(this).val()){
            $('.manager_check_div').eq(11).css('visibility', 'visible')
        }
        else{
            $('.manager_check_div').eq(11).css('visibility', 'hidden')
        }
    })
    $('.signuptext5').eq(2).change(function () {
        var number_check = $(this).val();
        var true_or_false = password_number.test(number_check);
        if(true_or_false){
            $('.manager_check_div').eq(12).css('visibility', 'visible')
            $('#password_star').html('****');
        }
        else{
            $('.alert_x').css('display','block');
            $('.alert_content').html('4자리 숫자로 입력해주세요');
            $(this).val('')
            $('#password_star').html('');
            $('.manager_check_div').eq(12).css('visibility', 'hidden')
        }
    })
    $('.signuptext2').eq(1).change(function () {
            var id_check = $(this).val();
            CheckPass(id_check)
            if (ok == 1) {
                $('.manager_check_div').eq(1).css('visibility', 'visible');
            }
            else {
                $('.manager_check_div').eq(1).css('visibility', 'hidden');
                $('.alert_x').css('display', 'block');
                $('.alert_content').html('6~15자리 숫자/영문자 조합으로 아이디를 생성할 수 있습니다');
            }
        })
    $('#password_jh').change(function () {
            pwd1_M = $(this).val();
            CheckPass(pwd1_M)
            if (ok == 1) {
                if ($('#password_jh_check').val()) {
                    if (pwd1_M == pwd2_M) {
                        $('.manager_check_div').eq(2).css('visibility', 'visible');
                        $('.manager_check_div').eq(3).css('visibility', 'visible');
                    }
                    else {
                        $('.alert_x').css('display', 'block');
                        $('.alert_content').html('비밀번호가 다릅니다.');
                        $(this).val('');
                        $('#password_jh_check').val('');
                        $('.manager_check_div').eq(2).css('visibility', 'hidden');
                        $('.manager_check_div').eq(3).css('visibility', 'hidden');
                    }
                }
            }
            else {
                $('.alert_x').css('display', 'block');
                $('.alert_content').html('6~15자리 숫자/영문자 조합으로 비밀번호를 생성할 수 있습니다');
                $(this).val('');
            }
        })
        $('#password_jh_check').change(function () {
            pwd2_M = $(this).val();
            CheckPass(pwd2_M)
            if (ok == 1) {
                if ($('#password_jh').val()) {
                    if (pwd1_M == pwd2_M) {
                        $('.manager_check_div').eq(2).css('visibility', 'visible');
                        $('.manager_check_div').eq(3).css('visibility', 'visible');
                    }
                    else {
                        $('.alert_x').css('display', 'block');
                        $('.alert_content').html('비밀번호가 다릅니다.');
                        $(this).val('');
                        $('#password_jh').val('');
                        $('.manager_check_div').eq(2).css('visibility', 'hidden');
                        $('.manager_check_div').eq(3).css('visibility', 'hidden');
                    }
                }
            }
            else {
                $('.alert_x').css('display', 'block');
                $('.alert_content').html('6~15자리 숫자/영문자 조합으로 비밀번호를 생성할 수 있습니다');
                $(this).val('');
            }
        })
    $('.stamp_standard').change(function(){
        var stamp_standard_option=$(".stamp_standard option:selected").val();
        if (stamp_standard_option==5){
            $('.manager_check_div').eq(13).css('visibility', 'visible');
           $('.fiveControls_sj').css('display','table');
           $('.tenControls_sj').css('display','none');
        }
        else if(stamp_standard_option==10){
            $('.manager_check_div').eq(13).css('visibility', 'visible');
            $('.fiveControls_sj').css('display','none');
           $('.tenControls_sj').css('display','table');
        }
        else{
            $('.manager_check_div').eq(13).css('visibility', 'hidden');
            $('.fiveControls_sj').css('display','none');
           $('.tenControls_sj').css('display','none');
        }
    })
    ////////상인 회원가입 정규식///////////
    $('#user_login').click(function () {
        $('#start').fadeOut(300)
        $('#loginuser').fadeIn(300)
    })
    $('#seller_login').click(function () {
        $('#start').fadeOut(300)
        $('#loginManager').fadeIn(300)
    })
    $('#loginUser_sign_up').click(function () {
        $('#loginuser').css('display','none');
        $('#signupuser').css('display','block');
    })
    // hw edit; GPS끈 상태 고려 위해 회원가입 클릭했을때 맵 생기는 이벤트
    $('#loginmanager_sign_up').click(function () {
        $('#loginManager').css('display','none');
        $('#signupManager').css('display','block');
        // $('#find_market').append($('#map'));
        // $('#map').css('display', 'block');
        // relayout();
        // var setPo = new daum.maps.LatLng(37.5657258494498, 126.9797731426241);
        // changeCenter(setPo);
        // marker.setPosition(setPo);
    });

    // 뒤로가기 고객로그인부분
    $('#back_loginuser').click(function () {
        $('#loginuser').fadeOut(300)
        $('#start').fadeIn(300)
    })
    // 뒤로가기 상인로그인부분1
    $('#back_loginManager').click(function () {
        $('#loginManager').fadeOut(300)
        $('#start').fadeIn(300)
    })


    // 뒤로가기 고객회원가입부분
    $('#back_signupuser').click(function () {
        $('.alert_select').css('display', 'block');
        $('.alert_content_select').html('회원가입을 취소하시겠습니까?')
        $('.alert_select_ok').click(function () {
            $(".alert_select").css('display','none');
            $('#signupuser').css('display','none');
            $('#loginManager').css('display','none');
            $('#signupManager').css('display','none');
            $('#start').css('display','none');
            $('#loginuser').css('display','block');
            $('.alert_select_ok').off();
        });
    });
    // 뒤로가기 상인회원가입부분
    $('#back_signupManager').click(function () {
        $('.alert_select').css('display', 'block');
        $('.alert_content_select').html('회원가입을 취소하시겠습니까?')
        $('.alert_select_ok').click(function () {
            $(".alert_select").css('display','none');
            $('#signupuser').css('display','none');
            $('#loginuser').css('display','none');
            $('#signupManager').css('display','none');
            $('#start').css('display','none');
            $('#loginManager').css('display','block');
            $('.alert_select_ok').off();
        });
    });
    $('#way').click(function(){
        $('.user').css('display','block')
        $('#loginuser').css('display','none');
    })
    $('#way_M').click(function(){
        $('.manager').css('display','block')
        $('#loginManager').css('display','none');
    })

    $('#user_x').click(function(){
        $('.user').css('display','none')
        $('#loginuser').css('display','block');
    })
    $('#manager_x').click(function(){
        $('.manager').css('display','none')
        $('#loginmanager').css('display','block');
    })
    $('#manager_x').click(function(){
        $('.manager').css('display','none')
        $('#loginManager').css('display','block');
    })


    // 클릭 이벤트
    $('.alert_x').click(function(){
        $(this).css('display','none')
      })
    $('.alert_o').click(function(){
        $(this).css('display','none')
    })
    $('.alert_gps').click(function(){
        $(this).css('display','none')
    })
    $('.alert_select_cancel').click(function () {
                $('.alert_out').css('display', 'none')
                $('.alert_gps').css('display', 'none')
                $('.alert_select').css('display', 'none')
                $('.alert_select_ok').off();
            });
            $('.alert_select_cancel_gps').click(function () {
                $('.alert_select').css('display', 'none')
                $('.alert_out').css('display', 'none')
                $('.alert_gps').css('display', 'none')
                $('.alert_select_ok_gps').off();
            });
    // (hw edit); enter event handleling!
    $("#password").keyup(function (event) {
        // Enter 처리
        if (event.keyCode == '13') {
            $("#loginButton_manager").trigger("click");
        } // if
    }); // enter keyup event
    $("#userpassword").keyup(function (event) {
        // Enter 처리
        if (event.keyCode == '13') {
            $("#loginButton_user").trigger("click");
        } // if
    }); // enter keyup event
    var allHeight=document.body.clientHeight;
    var allWidth=document.body.clientWidth;
    var alert_height=(allHeight/2)-75;
    $('.alert_x_content').css('top',alert_height+'px');
    $('.alert_o_content').css('top',alert_height+'px');
    if(allHeight>600){
        $('.signupuser_input4').css('top','440px')
    }

    $('#location_map').click(function(){
        $('#signupManager').css('display','none');
        $('#map_div').css('display','block')
        changeCenter(setPo);
        // $('#map').css('display','block')
        relayout();
        // var setPo = new daum.maps.LatLng(37.5657258494498, 126.9797731426241);
        // changeCenter(setPo);
        // marker.setPosition(setPo);
    }); // '위치찾기' 버튼 event

    $('#back_map').click(function(){
        $('#signupManager').css('display','block');
        $('#loginManager').css('display','none');
        $('#map_div').css('display','none')
        // $('#map').css('display','block')
    })
</script>
<script src="/javascripts/cordova_getgps.js"></script>
<script type="text/javascript">


    var infowindowTemp; // 지도의 인포 윈도우

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {

            center: new daum.maps.LatLng(37.56300372568073, 126.97729513156993), // 지도의 중심좌표

            level: 3 // 지도의 확대 레벨
        };

    var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    /* ─────────────▽▽▽마커의 특정 이미지 사용 위한 API▽▽▽───────────── */
    // 내 위치 표시해주는 마커 특수 IMG
    var markerImageSrc = '/images/location2.png';

    // 마커이미지의 주소와, 크기, 옵션으로 마커 이미지를 생성하여 리턴하는 함수입니다
    function createMarkerImage(src, size, options) {
        var markerImage = new daum.maps.MarkerImage(src, size, options);
        return markerImage;
    }

    // 좌표와 마커이미지를 받아 마커를 생성하여 리턴하는 함수입니다
    function createMarker(position, image) {
        var marker = new daum.maps.Marker({
            position: position,
            image: image
        });


        return marker;
    }

    // 내 이미지 마커를 생성하고 마커 배열에 추가하는 함수입니다
    function createMyMarkers(position) {

        var imageSize = new daum.maps.Size(32, 33),

            imageOptions = { offset: new daum.maps.Point(2, 3) };


        var myLatLng = new daum.maps.LatLng(position); // position
        // 마커이미지와 마커를 생성합니다
        var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
            marker = createMarker(myLatLng, markerImage);

        return marker;
    }


    // createMyMarkers() 함수 필수 참조
    /* ─────────────△△△마커의 특정 이미지 사용 위한 API△△△───────────── */


    // 지도를 클릭한 위치에 표출할 마커입니다. 아래 마커 변수는 전역변수입니다.
    var marker = createMyMarkers(37.56300372568073, 126.97729513156993);
    marker.setMap(map)

    // 지도에 클릭 이벤트를 등록합니다
    // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
    daum.maps.event.addListener(map, 'click', function(mouseEvent) {


        // 이미 인포 윈도우 존재하면 없애주기
        if (infowindowTemp!=null) {
            infowindowTemp.close();
        } // if

        // 클릭한 위도, 경도 정보를 가져옵니다
        var latlng = mouseEvent.latLng;

        var retunr_val = latlng.getLat()+', '+latlng.getLng();
        // 마커 위치를 클릭한 위치로 옮깁니다
        marker.setPosition(latlng);
        market_location.value = retunr_val;

    }); // 지도에 클릭 이벤트

    function changeCenter(moveLatLon) {
        // window.seoulApp.getGPS();

        relayout();
        // 지도 중심을 이동 시킵니다
        map.setCenter(moveLatLon);
        map.setLevel(3);
    } // changeCenter

    // map 크기 변화 있을때 레이아웃 수정해주자
    function relayout() {
        map.relayout();
    }

    $('#getMarket_location').click(function(event) {
        // alert("GPS 값을 가져옵니다");
        window.seoulApp.SignUpgetGPS();
        // var setPo = new daum.maps.LatLng(myLat, myLng)
        // changeCenter(setPo);
        // marker.setPosition(setPo);
    }); // get location

    $('#map_getLocationButton').click(function(event) {

        if(!market_location.value){
            $('.manager_check_div').eq(8).css('visibility', 'hidden');

            // 모달
            $('.alert_out').css('display', 'block');
            $('.alert_content_select').html('지도에서 위치를 클릭해 주세요!');
            $('.alert_select_ok_out').click(function () {
                $('.alert_out').css('display', 'none')
                $('.alert_select').css('display','none')
                $('.alert_select_ok').off();
                window.seoulApp.SignUpgetGPS();
            });// 모달 ok 버튼 click
        }
        else{
            $('.manager_check_div').eq(8).css('visibility', 'visible');

            // 모달
            $('.alert_o').css('display', 'block');
            $('.alert_content').html('위치를 성공적으로 잡아왔습니다!');
            $('.alert_o').click(function () {
                $('.alert_out').css('display', 'none')
                $('.alert_select').css('display','none')
                $('.alert_select_ok').off();
                // map_back 버튼 기능과 동일
                $('#signupManager').css('display','block');
                $('#loginManager').css('display','none');
                $('#map_div').css('display','none')
            });// 모달 ok 버튼 click event

        } // if ~ else

    }); // map_getLocationButton (in map, '확인' button) event
    relayout();
</script>
<script type="text/javascript" src="/javascripts/signupManager.js"></script>
</html>



<!--signupForm 4개가 겹쳐서 1,2로 수정-->
<!-- 수정해야할 부분 -->
