<!DOCTYPE html>
<html>

<head>
    <title>login</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>

    <script>
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script>
</head>

<body>

    <!--start div 시작-->

    <div id="start">
        <div id="all_body">
            <div id="intro_image_div">
                <img id="intro_image" src="/images/intro.jpg">
            </div>
            <div id="top_part">
                <div id="top_vertical_helper">
                    <img id="startlogo" src="/images/logo_with_text.png">

                </div>
            </diV>
            <div id="bottom_part">
                <div class="login_button">
                    <button id="user_login">고객 로그인</button>
                </div>
                <div class="login_button">
                    <button id="seller_login">상인 로그인</button>
                </div>
            </div>
        </div>
    </div>
    <!--start div 끝-->


    <!--loginuser 시작-->
    <div id="loginuser">
            <button id="back_loginuser">X</button>
        <div id="top_logo">
            <img id="loginUser_logo_with_text2" src="/images/logo_with_text.png">
        </div>
        <form class="formuser" action='/login' method='POST'>
            <div class="login_button_user">
                <input class="inputuser" type='text' name='userid' placeholder=' 아이디' />
            </div>

            <div class="login_button_user">
                <input id="userpassword" class="inputuser" type='password' name='userpwd' placeholder=' 비밀번호' />
            </div>
            </br>
            <div id="login_button_user2">
                <!-- <img id="Login_M" onclick="login_maintain()" src="/images/login_off.png"> -->
                <button class="idfind">아이디 찾기</button>
                <button id="password_find1">비밀번호찾기</button>
                <button type="button" id="loginUser_sign_up">회원가입</button>
            </div>
            <div class="login_button_user3">
                <button type='submit' value='' class="loginUser_insert">로그인</button>
            </div>
        </form>


        <div id="kakao_logo">
            <div class="login_button_user4" id="kakaobutton2">
                <a href='/login/kakao'>
                    <button id="kakaobutton">
                        <div style="width:40%;text-align: right;height: 50px;;">
                            <img id="kakao_Image" src="/images/kakao_Image.png">
                        </div>
                        <p style="width:60%; text-align: left;">카카오톡 시작하기</p>
                    </button>
                </a>
            </div>
        </div>
    </div>

    <!--loginuser 끝-->


    <!--loginManager 시작-->
    <div id="loginManager">
        <button id="back_loginManager">X</button>
        <div id="top_logo">
            <img id="loginUser_logo_with_text2" src="/images/logo_with_text.png">
        </div>
        <div class="formManager">
            <div class="login_button_formManager">
                <input class="inputmanager" type='text' id="manager_id" name='manager_id' placeholder='아이디' />
            </div>
            <div class="login_button_formManager">
                <input class="inputmanager" type='password' id="password" name='password' placeholder='비밀번호' />
            </div>
        </div>
        <div id="login_button_manager">
            <button class="idfind">아이디 찾기</button>
            <button id="password_find2">아이디 찾기</button>
            <button id="loginmanager_sign_up">회원가입</button>
        </div>
        <div id="kakao_logo2">
            <div class="login_button_user5">
                <button type='submit' id="loginButton" value='' class="loginUser_insert">로그인</button>
            </div>
        </div>
    </div>
    <script>
        $('#loginButton').click(function (e) {
            e.preventDefault();
            var manager_id = $('#manager_id').val();
            var password = $('#password').val();
            var data = {
                'manager_id': manager_id,
                'password': password
            }
            console.log(data);
            $.ajax({ // ajax 통신으로 지원자 입력한 정보를 서버에 보낸다.
                type: 'POST',
                url: '/loginmanager',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                cache: false,
                dataType: 'json',
                data: data,
                success: function (result) {
                    if (result['result'] == 'success') {
                        alert('ok');
                        $(window).attr('location', '/mainManager');
                    } else {
                        alert('로그인실패');
                        //$(window).attr('location', '/start');
                    }
                },
                error: function (error) {
                    console.log('erer');
                }
            });
        });
        $("#password").keyup(function (event) {
            // Enter 처리
            if (event.keyCode == '13') {
                $("#loginButton").trigger("click");
            };
        });
    </script>
    <!--loginManager 끝-->


    <!--signupuser 시작-->
    <div id="signupuser">
            <button id="back_signupuser">X</button>
        <div id="top_signup">
            <img id="signuplogo" src="/images/logo_with_text.png">
        </div>
        <form class='signupform1'>
            <div class="signupuser_input">
                <div class="icon_div">
                    <img id="icon1" src="/images/nameicon.png">
                </div>
                <input class="signuptext" type='text' id='username' name='username' placeholder='이름' />
            </div>
            <div class="signupuser_input">
                <div class="icon_div">
                    <img id="icon2" src="/images/idicon.png">
                </div>
                <input class="signuptext" type='text' id='userid' name='userid' placeholder='아이디' />
            </div>
            <div class="signupuser_input">
                <div class="icon_div">
                    <img id="icon3" src="/images/passwordicon.png">
                </div>
                <input class="signuptext" type='password' id='userpwd' name='userpwd' placeholder='비밀번호' />
            </div>
            <div class="signupuser_input">
                    <div class="icon_div">
                        <img id="icon3" src="/images/passwordicon.png">
                    </div>
                    <input class="signuptext" type='password' id='userpwdcheck' name='userpwd' placeholder='비밀번호확인' />
                </div>
            <div class="signupuser_input">
                    <div class="icon_div">
                        <img id="icon3" src="/images/passwordicon.png">
                    </div>
                    <input class="signuptext" type='password' id='e_mail' name='userpwd' placeholder='이메일' />
                </div>
            <div class="signupuser_input2">
                <input class="signupbutton" id="userfinish" type='submit' value='고객 회원가입' />
            </div>
        </form>
    </div>
    <script>
        $('.signupform1').submit(function (e) {
            e.preventDefault();
            var data = {
                userid: $('#userid').val(),
                username: $('#username').val(),
                userpwd: $('#userpwd').val()
            }
            console.log(data);
            $.ajax({
                type: "POST",
                url: "/signup/signupuser",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                cache: false,
                datatype: "json",
                data: data,
                success: function (result) {
                    if (result['result'] == 'success') {
                        alert('가입 성공');
                        //  $(window).attr('location', '/start');
                    }
                    else if (result['result'] == 'already') {
                        alert('이미 존재하는 아이디입니다.');
                        $('#userid').val('')
                    }
                },
                error: function (error) {
                    alert('가입 실패');
                }
            });
        });
    </script>
    </div>

    <!--signupuser 끝-->


    <!--signupManager 시작-->
    <div id="signupManager">
            <button id="back_signupManager">X</button>
        <div id="top_signup">
            <img id="signuplogo" src="/images/logo_with_text.png">
        </div>
        <form id='signupForm2'>
            <div class="signupuser_input3">
                <input class="signuptext2" type="text" id="manager_id_jh" name='manager_id' placeholder=" 상인 아이디">
            </div>
            <div class="signupuser_input3">
                <input class="signuptext2" type="password" id="password_jh" name='password' placeholder=" 비밀번호">
            </div>
            <div class="signupuser_input3">
                    <input class="signuptext2" type="password" id="password_jh_check" name='password' placeholder=" 비밀번호확인">
                </div>
            <div class="signupuser_input3">
                <input class="signuptext2" type="text" id="market_name" name='market_name' placeholder=" 상점 이름">
            </div>
            <div class="signupuser_input3">
                <input class="signuptext2" type="text" id="market_location" name='market_location' placeholder=" 상점 위치">
            </div>
            <div class="signupuser_input3">
                <input class="signuptext2" type="text" placeholder=" 상인 번호" id="manager_phone" name='manager_phone'>
            </div>
            <div class="signupuser_input3">
                <input class="signuptext2" type="text" placeholder=" 이름" id="manager_name" name='manager_name'>
            </div>

            <div class="signupuser_input3">
                <input class="signuptext2" type="text" placeholder=" 보상" id="stamp_reward" name='stamp_reward'>
            </div>
            <div class="signupuser_input3">
                <input class="signuptext2" type="text" placeholder="스탬프 비밀번호" id="stamp_password" name='stamp_password'>
            </div>
            <div class="signupuser_input3">
                <input class="signuptext2" type="text" placeholder="보상" id="market_promotion" name='market_promotion'>
            </div>
            <div class="signupuser_input3">
                <input class="signuptext2" type="text" placeholder=" 상점 소개" id="market_introduce" name='market_introduce'>
            </div>
            <div class="signuser_coupon1">
                <label id="sijang_name" name='sijang_name'> 시장 찾기 </label>
                <input type="button" value="시장찾기" id="modal_display" />
            </div>
            <div class="signuser_coupon2">
                <span>스탬프 개수 선택 </span>
                <select class='stamp_standard' name="stamp_standard">
                    <option>5</option>
                    <option>10</option>
                </select>
            </div>
            <div class="signupuser_input4">
                <input class="signupbuttonmanager" type='submit' value='회원가입' />
            </div>
        </form>
        <!-- Modal -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div id="top_modal">
                    <span id="modal_close">&times;</span>
                    <img id="modalstartlogo" src="/images/logo_with_text.png">
                    <div id="search-box">
                        <div id="Searchingtap">
                            <div id="verti">
                                <div id="vertical_helper">
                                    <div id="Searching">
                                        <select id="filed" name="filed">
                                            <option id="modal_market_name" value="name" selected="selected">시장 이름</option>
                                            <option value="gooname">구</option>
                                            <option value="dongname">동</option>
                                            <option value="newaddress">도로명</option>
                                            <option value="oldaddress">지번</option>
                                        </select>
                                        <input type="text" placeholder="searching" id="search_value">
                                        <img src="/images/search.png" value="검색" id="searchingButton" width="10%" height="30px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="modal_result">
                    <ol id="search_result"></ol>
                </div>
                <div id="modal_result2">
                    <button id="modalbutton">확인</button>
                </div>
            </div>
        </div>

        <script>
            $('#signupForm2').submit(function (e) {
                e.preventDefault();
                var manager_id = $('#manager_id_jh').val();
                var password = $('#password_jh').val();
                var market_name = $('#market_name').val();
                var market_location = $('#market_location').val();
                var manager_name = $('#manager_name').val();
                var manager_phone = $('#manager_phone').val();
                var stamp_reward = $('#stamp_reward').val();
                var stamp_password = $('#stamp_password').val();
                var market_promotion = $('#market_promotion').val();
                var market_introduce = $('#market_introduce').val();
                var test = document.getElementsByClassName('stamp_standard');
                var select_stamp_standard = test[0].selectedIndex;
                var stamp_standard;
                if (select_stamp_standard == 0) {
                    stamp_standard = 5;
                } else if (select_stamp_standard == 1) {
                    stamp_standard = 10;
                }
                // var sijang_name = sijang_name.innerHTML;
                var data = {
                    'manager_id': manager_id,
                    'password': password,
                    'market_name': market_name,
                    'market_location': market_location,
                    'manager_phone': manager_phone,
                    'manager_name': manager_name,
                    'stamp_reward': stamp_reward,
                    'stamp_password': stamp_password,
                    'market_promotion': market_promotion,
                    'market_introduce': market_introduce,
                    'stamp_standard': stamp_standard,
                    'sijang_name': sijang_name.innerHTML
                };
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: "/signup/signupmanager",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    cache: false,
                    datatype: "json",
                    data: data,
                    success: function (result) {
                        if (result['result'] == 'success') {
                            alert('가입 성공');
                            location.reload()
                        }
                        else if (result['result'] == 'already') {
                            alert('이미 존재하는 아이디입니다.');
                            $('#manager_id').val('')
                        }
                    },
                    error: function (error) {
                        alert('가입 실패');
                        //$(window).attr('location', '/start');
                    }
                });
            });
        </script>
        <script type="text/javascript" src="/javascripts/signupManager.js"></script>
    </div>
    <!--signupManager 끝-->

</body>
<!--start script  시작-->
<script>
    setTimeout(function () {
        $('#intro_image_div').fadeOut('500');
    }, 2000);
</script>
<!--start script 끝-->
<!--loginuser script 시작-->
<!--loginuser script 끝-->
<!--loginmanager script 시작-->
<!--loginmanager script 끝-->

<!--signupuser script 시작-->
<!--signupuser script 끝-->
<!--signupManager script 시작-->
<!--signupManager script 끝-->
<script>
    $('#user_login').click(function () {
        $('#start').fadeOut(300)
        $('#loginuser').fadeIn(300)
    })
    $('#seller_login').click(function () {
        $('#start').fadeOut(300)
        $('#loginManager').fadeIn(300)
    })
    $('#loginUser_sign_up').click(function () {
        $('#loginuser').fadeOut(300)
        $('#signupuser').fadeIn(300)
    })
    $('#loginmanager_sign_up').click(function () {
        $('#loginManager').fadeOut(300)
        $('#signupManager').fadeIn(300)
    })
    $('#userfinish').click(function () {
        $('#signupuser').fadeOut(300)
        $('#loginuser').fadeIn(300)
    })
    $('#managerfinish').click(function () {
        $('#signupManager').fadeOut(300)
        $('#loginManager').fadeIn(300)
    })


    // 뒤로가기 고객로그인부분
    $('#back_loginuser').click(function () {
        $('#loginuser').fadeOut(300)
        $('#start').fadeIn(300)
    })
    // 뒤로가기 상인로그인부분
    $('#back_loginmanager').click(function () {
        $('#loginManager').fadeOut(300)
        $('#start').fadeIn(300)
    })
    // 뒤로가기 고객회원가입부분
    $('#back_signupuser').click(function () {
        $('#signupuser').fadeOut(300)
        $('#loginuser').fadeIn(300)
    })
    // 뒤로가기 상인회원가입부분
    $('#back_signupManager').click(function () {
        $('#signupManager').fadeOut(300)
        $('#loginManager').fadeIn(300)
    })



    var pwd1,pwd2,pwd3,pwd4=0;
    $('#userpwd').change(function(){
      pwd1=$(this).val();
      
      if( $('#userpwdcheck').val() ){
        if(pwd1==pwd2){
            alert('ok')
        }
        else{
                alert('비밀번호가 다릅니다.')
                $(this).val('');
                $('#userpwdcheck').val('');
            }
      }
    })
     
    $('#userpwdcheck').change(function(){
        pwd2=$(this).val();
        if( $('#userpwd').val() ){
        if(pwd1==pwd2){
            alert('ok')
        }
        else{
                alert('비밀번호가 다릅니다.')
                $(this).val('');
                $('#userpwd').val('');
            }
      }
        })

         $('#password_jh').change(function(){
      pwd3=$(this).val();
      
      if( $('#password_jh_check').val() ){
        if(pwd3==pwd4){
            alert('ok')
        }
        else{
                alert('비밀번호가 다릅니다.')
                $(this).val('');
                $('#password_jh_check').val('');
            }
      }
    })
     
    $('#password_jh_check').change(function(){
        pwd4=$(this).val();
        if( $('#password_jh').val() ){
        if(pwd3==pwd4){
            alert('ok')
        }
        else{
                alert('비밀번호가 다릅니다.')
                $(this).val('');
                $('#password_jh').val('');
            }
      }
        })
    


</script>

</html>



<!--signupForm 4개가 겹쳐서 1,2로 수정-->
<!-- 수정해야할 부분 -->