<!DOCTYPE html>
<html>

<head>
    <title>login</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
    <script>
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script>
</head>

<body>
    <!--시작-->

    <div id="start_all_body">
        <div id="start_intro_image_div">
            <div id="start_intro_image_vertical">
                <img id="start_intro_image" src="/images/logo_with_text.png" width="45%" height="auto">
            </div>
        </div>
        <div id="start_top_part">
            <div id="start_top_vertical_helper">
                <img src="/images/startlogo.png" width="40%" height="auto">
            </div>
        </diV>
        <div id="start_bottom-part">
                 <div id="start_bottom-part1">
                    <button id="start_user_login">고객 로그인</button>
                    <img class="start_image" src="/images/login_tail.png">
                 </div>
                <div id="start_bottom-part2">
                 <button id="start_seller_login">상인 로그인</button>
                 <img class="start_image" src="/images/login_tail.png">
                </div>
        </div>
    </div>


    <script>

        setTimeout(function () {
            $('#start_intro_image_div').fadeOut('500');
        }, 1000);
        $('#start_user_login').click(function () {
            location.href = "/loginUser";
        });
        $('#start_seller_login').click(function () {
            location.href = "/loginManager";
        });
      
    </script>
</body>

</html>