@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 800;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}

@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}

@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 200;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}

body,
html {
    font-family: 'LotteMartDream', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#menu {
    width: 100%;
    display: inline-flex;
    height: 50px;
}

#menu div {
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: #fb83a5;
    line-height: 50px;
    color: white;
}
#coupon_view{
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 80px;
    display: none;
}
.find_coupon_list{
    width: 80%;
    margin-left: 10%;
    display: none;
}
.my_coupon{
    width: 70%;
    margin-left: 15%;
}

.market p{
    font-size: 20px;
    margin-top: 10px;
}

.content,.find_coupon{
    width: 100%;
    height: 120px !important;
    background-color: #fb83a5;
    border-radius: 7px;
    margin-top: 20px;
}
.menu {
    min-width: 100px !important;
    height: 120px !important;
    width: 30% !important;
    max-width: 320px !important;
    background-color: rgb(238, 39, 39);
    margin-top: 20px;
    color: #fff;
    border-radius: 7px;
    line-height: 120px;
    font-size: 25px;
    text-align: center;
}

.download{
    background-color: rgb(12, 141, 12);
    border-radius: 7px;
    height: 130px;
    color:white;
    line-height: 130px;
    font-size: 30px;
    text-align: center;
}
.store_and_market{
    width: 90%;
    margin-left: 5%;
    display: inline-flex;
    color: white;
}
.store_name{
    width: 70%;
    height: 25px;
    line-height: 25px;
}
.market_name{
    width: 30%;
    height: 25px;
    line-height: 25px;
}
.sale_price{
    width: 90%;
    height: 55px;
    margin-left: 5%;
    font-size: 40px;
    color: white;
    line-height: 65px;
    text-align: center;
}
.standard{
    width: 90%;
    height: 20px;
    margin-left: 5%;
    font-size: 18px;
    color: white;
    line-height: 20px;
    text-align: center;
}
.period{
    width: 90%;
    height: 20px;
    margin-left: 5%;
    font-size: 20px;
    color: white;
    line-height: 20px;
    text-align: center;
}

#nav_sj {
    width: 100%;
    height: 8%;
    background: white;
    display: inline-flex;
    position: fixed;
    top: 92%;
    z-index: 1;
    border-top-style:solid;
    border-top-width: 1px;
    /* border-left-style: none */
}

#nav_sj div {
    padding: 5px;
    width: 20%;
    font-size: 10px;
    color: #9c9c9c;
    text-align: center;
}
#nav_sj p{
   margin:0;
}
#nav_text{
    color: #63dded;
}