@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
body, h1, h2, h3, h4, h5, h6, li, p, span, div input,textarea,label {font-family: 'NanumSquare',sans-serif;}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#myStamp{
    width: 75%;
    margin-left: 12.5%;
    height: 30%;
    margin-top: 7%;
    margin-bottom: 7%;
    background-image:url('/images/backSample1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    color: white;
}


#store_market_name{
    width: 86%;
    height: 22%;
    margin-left: 7%;
    line-height: 22%;
}
.store_and_market_L{
    width: 86%;
    height: 40px;
    margin-left: 7%;
    display: inline-flex;
    line-height: 40px;
}
#nameing{
    position: absolute;
    top: 8%;
    margin: 0;
}
.stamp_market{
    width: 90%;
    margin-left: 5%;
    height: 20%;
    display: table
}

.stmap_verical{
    width: 100%;
    height: 100%;
    display:table-cell;
    vertical-align: middle;
}
.deadline{
    width: 60%;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    margin-left: 7%;
    font-weight: lighter;
}
.count_stamp{
    width: 100%;
    font-size: 40px;
    font-weight: lighter;
}
.my_stamp_count{
    width: 100%;
    height: 55%;
    font-size:22px;
    display: table;
    font-weight: lighter;
}
.my_stamp_count p{
    margin: 0;
}
.standard_coupon{
    margin-bottom: 3% !important;
}
.stamp_count_vertical{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.my_coupon_list{
    width: 72%;
    margin-left: 14%;
    margin-bottom: 80px;
    margin-top: 110px;
}
#make_coupon_div{
    width: 100%;
    height: 100%;
    display: none;
    margin-top: 20px;
}

#make_coupon_button{
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    top: 0;
}
#make_coupon{
    width: 90%;
    height: 50px;
    margin-left: 5%;
    background-image: url('/images/mainBack.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 30px;
    font-size: 15px;
    border-style: none;
    margin-top: 25px;
    font-weight: lighter;
}
.stamp_list{
    width: 100%;
    height: 160px;
    background-image:url('/images/backSample1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    border-radius: 7px;
    margin-top: 20px;
    line-height: 160px;
    text-align: center;
}
.my_coupon:nth-child(4n-3){
    width: 100%;
    height: 160px;
    background-image:url('/images/backSample1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    border-radius: 7px;
    margin-top: 20px;
}
.my_coupon:nth-child(4n-2){
    width: 100%;
    height: 160px;
    background-image:url('/images/backSample2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    border-radius: 7px;
    margin-top: 20px;
}
.my_coupon:nth-child(4n-1){
    width: 100%;
    height: 160px;
    background-image:url('/images/backSample3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    border-radius: 7px;
    margin-top: 20px;
}
.my_coupon:nth-child(4n){
    width: 100%;
    height: 160px;
    background-image:url('/images/backSample4.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    border-radius: 7px;
    margin-top: 20px;
}

.store_name{
    width: 60%;
    height: 40px;
    line-height: 40px;
}
.market_name{
    width: 40%;
    height: 40px;
    line-height: 40px;
    text-align: right;
}
.sale_price{
    width: 100%;
    height: 42.5px;
    font-size:24px;
    color: white;
    line-height: 42.5px;
    text-align: center;
    font-weight: lighter;
}
.standard{
    width: 100%;
    height: 42.5px;
    font-size: 24px;
    color: white;
    line-height: 60px;
    text-align: center;
    font-weight: lighter;
}
.coupon_bottom{
    width: 100%;
    height: 35px;
    display: inline-flex;
}
.logo_image{
    width: 33%;
    height: 100%;
}
.period{
    width: 60%;
    height: 35px;
    margin-left: 7%;
    font-size: 16px;
    color: white;
    line-height: 35px;
    font-weight: lighter;
}
#nav_sj {
    width: 100%;
    height: 8%;
    background: white;
    display: inline-flex;
    position: fixed;
    top: 92%;
    z-index: 1;
    border-top-style:solid;
    border-top-width: 1px;
    /* border-left-style: none */
}

#nav_sj div {
    padding: 5px;
    width: 20%;
    font-size: 10px;
    color: #9c9c9c;
    text-align: center;
}
#nav_sj p{
   margin:0;
}
#nav_text{
    color: #63dded;
}
#make_coupon_form{
    width: 85%;
    height: 65%;
    margin-left: 7.5%
}
.inputLine{
    width: 100%;
    display: inline-flex;
}

.name{
    width: 29%;
    height: 24px;
    line-height: 24px;
    margin:0;
    margin-left: 3%;
    font-size: 15px;
}
input,select{
    width:52%;
    margin-left: 8%;
    margin-bottom: 7%;
    font-size: 14px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-bottom-style: solid;
   border-color: #9c9c9c;
   border-width: 1.35px;
    padding: 4px;
    color: #9c9c9c;
 }
 select{
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;
    background: url('/images/down_arrow.png') no-repeat 95% 50%; /* 화살표 아이콘 추가 */
    background-size: 10%;       

 }
 input{
    height: 24px;
 }
#make_coupon_form button{
    margin-top: 5%;
}
#coupon_make_button{
    font-size: 17px;
    width: 45%;
    height: 48px;
    background-image: url('/images/mainBack.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-style: none;
    border-radius: 50px;
    margin-left: 8%;
    padding: 0 !important;
}
#cancel{
    font-size: 17px;
    color:#9c9c9c;
    width: 45%;
    height: 48px;
    border-radius: 50px;
    background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #17ead9,#6078ea);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 1px;
    border: 0px;
}
#coupon_password{
    color:#63dded;
    font-family: initial !important;
}
.check_input,.check_select{
    visibility: hidden;
}
.standard_coupon,.reward_coupon,.reward_coupon_L{
    width: 100%;
    text-align: center;
}
#password{
    position: absolute;
    left: 63%;
    width: 40%;
    font-size: 38px;
    top: 9.5%;
    margin: 0;
    font-weight: lighter;
}