/*start css*/
body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
}

#all_body {
    width: 100%;
    height: 100%;
    position: absolute;
}
#intro_image_div{
    width: 100%;
    height: 100%;
    position:fixed;
}


#intro_image{
    width:100%;
    height:auto;
}
#top_part {
    display: table;
    width: 100%;
    height: 50%;         
}
#top_vertical_helper {
    padding-top:50%;
    width: 100%;
    height: 100%;
    text-align: center;
}
#startlogo{
    width: 50%;
     height:auto;
     padding-bottom: 10%;
}
#bottom_part {
    padding-top:10%;
    width: 100%;
    height: 50%;
}
.login_button{
    width: 100%;
    height: 15%;
    margin-bottom: 7%;
    text-align: center;
}
#user_login{
    width: 70%;
    height: 100%;
    background-color: white;
    border: double 1px transparent;
    border-radius: 50px;
    background-image: linear-gradient(white, white),
     radial-gradient(circle at top left, #17ead9,#6078ea);
    background-origin: border-box;
    background-clip: content-box, border-box;    
    padding-left: 1px;
    padding-right: 1px;
    border-top-width: 0px;
    padding-top: 1px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    padding-bottom: 1px;

}
#seller_login {
    width: 70%;
    height: 100%;
    padding:0;
    border:0;
    border-radius: 50px;
    color:white;
    background: -webkit-linear-gradient(left, #17ead9, #6078ea);
    background: -o-linear-gradient(right, #17ead9, #6078ea);
    background: -moz-linear-gradient(right, #17ead9, #6078ea);
    background: linear-gradient(to right, #17ead9 , #6078ea);
}

/*start css finish*/

/*loginuser css start*/
#loginManager,#loginuser{
    width: 100%;
    height: 100%;
    display: none;
}
#top_logo
{
    width:100%;
    height: 25%;
}
#loginUser_logo_with_text2
{
    width:60%;
    height: auto;
    padding-top:25%;
    padding-left: 20%;
}


.formuser
{
    margin-top: 10%;
    width:100%;
    height: 40%;
}
.login_button_user{
    padding-left: 5%;
    padding-bottom: 3%;
    width:100%;
    height:20%;
}
.login_button_user > .inputuser{
    width:75%;
    height:100%;
    float:left;
    border: 0;
    outline:0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
}

.login_button_user > .login_user{
    float:left;
    width:15%;
    height:100%;
}
#login_button_user2{
   padding-left: 10%;
   height: 20%;
   width: 100%;
}
.id_check
{
    width: 5%;
    height:50%;
    float: left;
}
#font{
    color:grey;
    font-size: 70%;
    float: left;
    margin-top: 8px;
    margin-left: 2px;
}

#login_button_user3
{
    height: 20%;
    width: 100%;
}
.loginUser_insert{
    background-image: url('/images/loginbutton.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 90%;
    height: 100%;
    border: 0px;
    padding: 0;
    margin-left: 5%;
    background-color: #63dded;
   }
#login_button_user4
{
    height: 5%;
    width: 100%;
    padding-left: 23%;
}
.idfind{
    background-color: #63dded;
    color:grey;
    font-size: 70%;
    height: 15%;
    width: 25%;
    border :0px;
    padding: 0px;
    float: left;
    
}
#loginUser_sign_up{
    background-color: #63dded;
    color:grey;
    font-size: 70%;
    height: 15%;
    width: 25%;
    border :0px;
    padding: 0px;
    float: left;
}
#loginmanager_sign_up
{
    background-color: #63dded;
    color:grey;
    font-size: 70%;
    height: 15%;
    width: 20%;
    border :0px;
    padding: 0px;
    float: left;
}
#kakao_logo{
    width:100%;
    height: 25%;
    text-align: center;
}
#kakaobutton{
    background-image: url('/images/kakaoimage.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:20%;
    height: 80%;
    border: 0px;
    padding: 0;
    background-color: #63dded;
}

/*loginuser css finish*/
/*login manager css start*/
   
/*signupuser css start*/
#signupManager,#signupuser{
    display: none;
    width:100%;
    height:100%;
    background-color: white;
}
#top_signup{
    background:#63dded;
    position:fixed;
    text-align:center;
    width:100%;
    height:30%;
}
#top_signup_logo
{
    width: 50%;
    height: 60%;
    margin:-50px auto;
    top:50%;
    position:relative;
}
#signuplogo{
    width:200px;
  }

.signuptitle{
    font-size:20px;
    margin-top:20px;
    color:#fff;
  }
#signupform{
    padding-top:250px;
    width:100%;
    text-align:center;
  }
#signupform1{
    width:300px;
    margin:0 auto;
}
#signupform2{
    width:300px;
    margin:0 auto;
}
.signuptext
{
    width:250px;
    height:35px;
    border:1px solid #ddd;
    margin: 7px 0 7px 0;
}
.signupbutton{
 width:150px;
    height:50px;
    border:1px solid #ddd;
    border-radius:5px;
    margin:15px 0 15px 0;    
}


/*signupuser css finish*/


/*login manager css finish*/
/*login manager css finish*/
/*login manager css finish*/