/*start css*/
body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #63dded;
    overflow: hidden;
}

#all_body {
    width: 100%;
    height: 100%;
    position: absolute;
}
#intro_image_div{
    width: 100%;
    height: 100%;
    display: table;
    background-color: #63dded;
}

#intro_image_vertical{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#intro_image{
    margin-bottom: 25%;
    width:45%;
    height:auto;
}
#top_part {
    display: table;
    width: 100%;
    height: 60%;         
}
#top_vertical_helper {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#startlogo{
    width: 50%;
     height:auto;
}
#bottom_part {
    width: 100%;
    height: 40%;
}
.login_button{
    width: 100%;
    height: 30%;
    margin-left:15%;
}
#user_login,
#seller_login {
    width: 50%;
    height: 80%;
    padding: 0;
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color:white;
    float:left;
}
.start_image{
    width: 20%;
    height: 80%;
}

/*start css finish*/
/*loginuser css start*/
#loginuser{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
.userinput
{
    width: 60%;
    height: 130px;
    font-size: 30px;
    margin-top:3%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:3%;
    border:0px;
    font-size: 30pt;
    border-radius: 30px 0 0 30px;
}
/*loginuser css finish*/