@import url('//cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
body, h1, h2, h3, h4, h5, h6, li, p, span, div {font-family: 'NanumSquareRound',sans-serif;}

    body,
        html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

/* main ~ display 부분 초기 설정 */


#Searching, #aaa{
    display: block;
}
#searching_input,#searching_input input{
    border-radius:4px;
}
#aaa{
    position: absolute;
    top:155px;
}

/* △ main ~ display △ */

#text_logo{
    width: 100%;
    height: 110px;
    /* margin-left: 5%; */
    background-image: url('/images/mainBack.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2%;
    position: fixed;
    top:0;
    z-index: 2;
}
#store_infor,#market_infor{
    display: none;
}
#verti{
    display: table-cell;
    vertical-align: middle;
}

#no_stamp{
    text-align: center;
    font-size: 18px;
}

#aaa{
    width: 100%;
    height: 100%;
}
#back_div{
    width: 100%;
    height: 40px;
    background-image: url('/images/mainBack.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    display: none;
    z-index: 2;
}
#back_div img{
    margin-top: 10px;
    margin-left:10px;
}
/* 검색 부분 CSS - 현우가 주석 처리함 / searching css 참조 */
#searchingButton{
    margin-top: 10px;
    background-color: white;
}
#Searching{
    width: 93%;
    margin: 0 auto;
    height: 40px;
    display: table;
    margin-top: 5px;
}

#verti{
    width: 100%;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}
#inline_logo{
    margin-top: 3%;
    margin-left: 3%;
}
#vertical_helper{
    width: 100%;
    height: 40px;
    display: inline-flex;
}

#searching_input{
    display: inline-flex;
    width: 100%;
    height: 40px;
    box-shadow: 4px 4px 10px grey;
    border-color: white;
    background-color: white;
}
#searching_input input{
    border-style: none;
    width: 90%;
}
#verti-helper{
    display: table-cell;
    vertical-align: middle;
    height: 22px;
}
#navControlButton{
    position: fixed;
    top: 110px;
    width: 100%;
    height: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fb83a5;
    font-size: 14px;
    text-align: center;
    display: table;
    z-index: 2;
    background-color: white;
}
.near_market_list{
    width: 30%;
    margin-left: 2.5%;
}

/* △ 검색 부분 CSS △ */

/* ▽ 구 표시 부분 CSS - 현우 ▽ */


#Goomap table{
    display: center;
}

/* △ 구 표시 부분 CSS △ */

#myStamp{
    width: 95%;
    margin: 0 auto;
    height: 25%;
    /* background-color: #acdce2; */
    /* padding: 20px; */
    /* border-radius: 5px; */
}
#user_name{
    margin-top: 8%;
}
.swiper-pagination{
    bottom:20px !important;
}
.swiper-container{
    width: 96%;
    height: 100%;
    /* background-color: #acdce2; */
    border-radius: 5px;
    margin-top:10px;
}

.swiper-wrapper{
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

label{
    color:black;
}

.swiper-slide:nth-child(5n-4){
    width: 70%;
    height: 100%;
    background-image:url('/images/backSample2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    color: white;
}
.swiper-slide:nth-child(5n-3){
    width: 70%;
    height: 100%;
    background-image:url('/images/backSample4.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    color: white;
}
.swiper-slide:nth-child(5n-2){
    width: 70%;
    height: 100%;
    background-image:url('/images/backSample1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    color: white;
}
.swiper-slide:nth-child(5n-1){
    width: 70%;
    height: 100%;
    background-image:url('/images/backSample3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    color: white;
}
.swiper-slide:nth-child(5n){
    width: 70%;
    height: 100%;
    background-image:url('/images/backSample5.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* margin-left: 10%; */
    border-radius: 5px;
    color: white;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; */
}
.store_market_name{
    width: 86%;
    height: 30%;
    margin-left: 7%;
    margin-top: 20px;
    font-size: 23px;
}
.market_name{
    font-size: 14px;
    text-align: center;
}
.near_market_name{
    font-size: 15px;
    margin-top: 5px;
}
.stamp_count{
    width: 100%;
    height: 60%;
    font-size: 25px;
    display: table;
}
.stamp_inline{
    display: inline-flex;
    width: 100%;
}
.deadline{
    padding-top: 15px;
    width: 40%;
    font-size: 15px;
    margin-left: 5%;
}
.count_stamp{
    width: 55%;
    font-size: 30px;
}
.stamp_count_vertical{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#near_market{
    display: inline-flex;
    width: 96%;
    margin: 0 auto;
    height: 130px;
    margin-left: 2%;
}
.good_market_name{
    font-size: 15px;
}
#hot_store{
    width: 100%;
    /* margin: 0 auto; */
    height: 1750px;
    margin-top:9%;
    margin-bottom: 80px;
}
.hot_store_list{
    width: 100%;
    display: inline-flex
}
.hot_store_list img{
        border-radius: 4px;
        border-style: solid;
        border-color: #c5c6c7;
        border-width: 0.8px;
}
.good_count{
    height: 20px;
    line-height: 25px;
    display: inline-flex;
    color:gray;
    font-size: 14px;
}
.good_count img{
    border: none;
}
.hot_store_detail{
    width: 43%;
    height: 165px;
    /* border-style: s; */
     border-radius: 5px;
    margin-left: 4.8%;
    margin-bottom: 7px;
}
.market_pic{
    width: 100%;
    height: 68%;
}
.market_pic img{
        border-radius: 4px;
        border-style: solid;
        border-color: #c5c6c7;
        border-width: 0.8px;
}

h3,h4{
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.distance,.good_store_name{
    margin-top: 3px;
    color: gray;
    font-size: 13px;
}
#nav_sj {
    width: 100%;
    height: 8%;
    background: white;
    display: inline-flex;
    position: fixed;
    top: 92%;
    z-index: 1;
    border-top-style:solid;
    border-top-width: 0.5px;
    /* border-left-style: none */
}

#nav_sj div {
    padding: 5px;
    width: 20%;
    font-size: 10px;
    color: #9c9c9c;
    text-align: center;
}
#nav_text{
    color: #63dded;
}