@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 800;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
  }

  @font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
  }

  @font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 200;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
  }

        body,
        html {
            font-family: 'LotteMartDream', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

/* main ~ display 부분 초기 설정 */

#tableControl, #Goomap, #KakaoMap{
    display: none;
}

#Searching, #aaa{
    display: block;
}

/* △ main ~ display △ */

#text_logo{
    width: 100%;
    height: 70px;
    /* margin-left: 5%; */
    background-color: #63dded;
    margin-bottom: 2%;
    display: table;
}
#store_infor{
    display: none;
}
#verti{
    display: table-cell;
    vertical-align: middle;
}
#verti img{
    margin-left: 5%;
}

#no_stamp{
    text-align: center;
    font-size: 18px;
}

#aaa{
    width: 100%;
    height: 100%;
}

/* 검색 부분 CSS - 현우가 주석 처리함 / searching css 참조 */

#Searching{
    width: 85%;
    margin: 0 auto;
    height: auto;
    background-color: #acdce2;
    padding: 20px;
    border-radius: 5px;
    display: table;
}

#verti{
    width: 100%;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

#vertical_helper{
    width: 100%;
    height: 30px;
    display: inline-flex;
}

#Searching input{
    width:60%;
    height:30px;
}

#Searching select{
    height: 35px;
}

#Searching img{
    margin-left: 5px;
}

#navControlButton{
    width: 80%;
    height: 40px;
    margin-top: 15px;
    color: white;
    border-radius: 5px;
    font-size: 21px;
    margin-left: 10%;
}

/* △ 검색 부분 CSS △ */

/* ▽ 구 표시 부분 CSS - 현우 ▽ */

#Goomap{
    width: 100%;
}

#Goomap table{
    display: center;
}

/* △ 구 표시 부분 CSS △ */

#myStamp{
    width: 95%;
    margin: 0 auto;
    height: 30%;
    background-color: #acdce2;
    /* padding: 20px; */
    border-radius: 5px;
    margin-top: 20px;
}

.swiper-container{
    width: 80%;
    height: 85%;
    background-color: #acdce2;
    border-radius: 5px;
    margin-top:10px;
}

.swiper-wrapper{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: #acdce2;
    /* padding: 15px; */
    border-radius: 5px;
    margin-top:10px;
}

label{
    color:black;
}

.swiper-slide{
    width: 80%;
    height: 70%;
    background-color: #fb83a5;
    /* margin-left: 10%; */
    border-radius: 5px;
    color: white;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; */
}
.stamp_name{
    display: inline-flex;
    width: 90%;
    height: 30%;
    margin-left: 5%;
    margin-top: 5px;
}
.market_name{
    font-size: 14px;
    text-align: center;
}
.stamp_count{
    width: 100%;
    height: 60%;
    font-size: 25px;
    display: table;
}
.stamp_count_vertical{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#near_market{
    width: 85%;
    margin: 0 auto;
    height: 35%;
    background-color: #acdce2;
    padding: 10px;
    border-radius: 5px;
    margin-top:10px;
}

#hot_store{
    width: 90%;
    margin: 0 auto;
    height: 1620px;
    /* background-color: #acdce2; */
    /* padding: 10px; */
    /* border-radius: 5px; */
    margin-top:10px;
    margin-bottom: 80px;
}
.hot_store_list{
    width: 100%;
    display: inline-flex
}

.hot_store_detail{
    width: 46%;
    height: 150px;
    border-style: solid;
     border-radius: 5px;
     background-color: #acdce2;
    margin-left: 2%;
    color:white;
}
#user_name{
    width: 90%;
    height: 15%;
    margin-left: 5%;
    color: white;
}
#market_pic{
    width: 90%;
    margin-left: 5%;
    height: 70%;
}
.detail_name{
    text-align: center;
}
#near_infor{
    width: 90%;
    height: 15%;
    margin-left:5%;
    display: inline-flex;
    text-align: center;
    color: white;
}


#nav_sj {
    width: 100%;
    height: 20%;
    background: #63dded;
    display: inline-flex;
    position: fixed;
    top: 90%;
    z-index: 1;
}

#nav_sj div {
    width: 20%;
    padding: 10px;
    font-size: 8px;
    color: white;
    text-align: center;
}
