@import url('//cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
body, h1, h2, h3, h4, h5, h6, li, p, span, div {font-family: 'NanumSquareRound',sans-serif;}
        body,
        html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}
#text_logo{
    width: 100%;
    height: 40px;
    /* margin-left: 5%; */
    background-image: url('/images/mainBack.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2%;
    position: fixed;
    top:0;
    z-index: 2;
}

label{
    color:black;
}

#mystore{
    width: 95%;
    margin: 0 auto;
    height: 42%;
    /* padding: 10px; */
    border-radius: 5px;
    margin-top:60px;
    text-align: center;
}
#mystore h3{
    text-align: left;
    margin: 0;
}

#hot_store{
    width: 100%;
    height: 1750px;
    margin-top:9%;
    margin-bottom: 80px;
}

.hot_store_list{
    width: 100%;
    display: inline-flex
}
.hot_store_list img{
        border-radius: 4px;
        border-style: solid;
        border-color: #c5c6c7;
        border-width: 0.8px;
}
.hot_store_detail{
    width: 43%;
    height: 165px;
    /* border-style: s; */
     border-radius: 5px;
    margin-left: 4.8%;
    margin-bottom: 7px;
}
.good_store_name{
    margin-top: 3px;
    color: gray;
    font-size: 13px;
}
.good_count{
    height: 20px;
    line-height: 25px;
    display: inline-flex;
    color:gray;
    font-size: 14px;
}
.good_count img{
    border: none;
}
.good_count p{
    margin:0;
}
#user_name{
    width: 90%;
    height: 15%;
    font-size: 18px;
}
#market_pic{
    width: 90%;
    padding: 2px;
    height: 50%;
}
#store_name{
    width: 90%;
    height: 15%;
    text-align: center;
    color:gray; 
    font-size: 18px;
    display: inline-flex;
}
#store_name p{
    margin-top: 0;
}
.detail_name{
    text-align: center;
}
#near_infor{
    width: 90%;
    height: 15%;
    margin-left:5%;
    display: inline-flex;
    text-align: center;
    color: white;
}


#nav_sj {
    width: 100%;
    height: 8%;
    background: white;
    display: inline-flex;
    position: fixed;
    top: 92%;
    z-index: 1;
    border-top-style:solid;
    border-top-width: 1px;
    /* border-left-style: none */
}

#nav_sj div {
    padding: 5px;
    width: 20%;
    font-size: 10px;
    color: #9c9c9c;
    text-align: center;
}
#nav_sj p{
   margin:0;
}
#nav_text{
    color: #63dded;
}