/* @import url('//cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css'); */
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
body, h1, h2, h3, h4, h5, h6, li, p, span, div input,textarea,label {font-family: 'NanumSquare',sans-serif;}
        body,
        html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}
#logo{
    width: 100%;
    height:33px;
}
#text_logo{
    width: 100%;
    height:240px;
    /* margin-left: 5%; */
    background-image: url('/images/backSample5.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top:0;
    z-index: 2;
}
#mystore_div{
    width: 50%;
    margin-left: 25%;
    height: 195px;
    margin-top: 5px;
    text-align: center;
}
#mystore_image{
    width: 115px;
    height: 115px;
    border-radius: 115px;
    margin:0 auto;
    margin-bottom: 10px;
    border-style: solid;
    border-color: white;
    border-width: 4px;
}
#my_id,#mystore_name{
    height: 25px;
    color: white;
}
#my_id{
    font-size: 18px;
}
#mystore_name{
    font-size: 14px;
}

label{
    color:black;
}

#mystore{
    width: 95%;
    margin: 0 auto;
    height: 42%;
    /* padding: 10px; */
    border-radius: 5px;
    margin-top:60px;
    text-align: center;
}

#hot_store{
    width: 100%;
    height: 2100px;
    margin-top:270px;
    margin-bottom: 80px;
}
#hot_store h3{
    margin-left: 4.8%;
}
h3{
    font-size: 18px;
}

.hot_store_list{
    width: 100%;
    display: inline-flex
}
.hot_store_list img{
        border-radius: 4px;
        border-style: solid;
        border-color: #c5c6c7;
        border-width: 0.8px;
}
.hot_store_detail{
    width: 45%;
    height: 200px;
    /* border-style: s; */
     border-radius: 5px;
    margin-left: 3.3%;
    margin-bottom: 5px;
}
.good_store_name{
    margin-top: 3px;
    color: gray;
    font-size: 13px;
    font-weight: lighter;
}
.good_count{
    height: 20px;
    line-height: 25px;
    display: inline-flex;
    color:gray;
    font-size: 12px;
    font-weight: lighter
}
.good_count img{
    border: none;
}
.good_market_name{
    font-size: 16px;
}
#table{
    width: 41%;
    height: 50px;
    display: table;
    position: fixed;
    top: 215px;
    left: 55%;
    z-index: 3;
    border-radius: 30px;
    background-color: white;
    font-size: 11px;
    color: #b1afaf;
    text-align: center;
    box-shadow:3px 3px 10px gray;
}
#table-cell{
    width: 100%;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}
#manager_infor{
    display: inline-flex;
    width: 100%;
    height: 30px;
   
}
#manager_infor div{
    display: block;
    width: 33.3%;
    height: 80%;
    text-align: center;
}
#manager_infor p{
    margin: 0;
}
.good_count p{
    margin:0;
}
#user_name{
    width: 90%;
    height: 15%;
    font-size: 18px;
}
#market_pic{
    width: 90%;
    padding: 2px;
    height: 50%;
}
#store_name{
    width: 90%;
    height: 15%;
    text-align: center;
    color:gray; 
    font-size: 18px;
    display: inline-flex;
}
#store_name p{
    margin-top: 0;
}
.detail_name{
    text-align: center;
}
#near_infor{
    width: 90%;
    height: 15%;
    margin-left:5%;
    display: inline-flex;
    text-align: center;
    color: white;
}


#nav_sj {
    width: 100%;
    height: 8%;
    background: white;
    display: inline-flex;
    position: fixed;
    top: 92%;
    z-index: 1;
    border-top-style:solid;
    border-top-width: 1px;
    /* border-left-style: none */
}

#nav_sj div {
    padding: 5px;
    width: 20%;
    font-size: 10px;
    color: #9c9c9c;
    text-align: center;
}
#nav_sj p{
   margin:0;
}
#nav_text{
    color: #63dded;
}

/* ───────────────────── hw edit ──────────────────────── */

#back_div{
    width: 100%;
    height: 40px;
    background-color: white;
    position: fixed;
    top: 0;
    display: none;
    z-index: 2;
}
#back_div img{
    margin-top: 10px;
    margin-left:10px;
}