body,
html {
    font-family: 'LotteMartDream', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}
#text_logo{
    width: 95%;
    height: 10%;
    margin-left: 5%;
}
#search{
    width: 85%;
    margin: 0 auto;
    height: auto;
    background-color: #acdce2;
    padding: 20px;
    border-radius: 5px;
}
#search_bar{
    width: 100%;
    display: inline-flex;
}
#search_bar input{

    width:80%;
    height:30px;
}
#search_bar img{
margin-left: 10px;
}
#search button{
    width: 80%;
    height: 40px;
    margin-top: 15px;
    background-color: #fb83a5;
    color: white;
    border-radius: 5px;
    font-size: 21px;
    margin-left: 10%;
}

label{
    color:black;
}

#mystore{
    width: 85%;
    margin: 0 auto;
    height: 35%;
    background-color: #acdce2;
    padding: 10px;
    border-radius: 5px;
    margin-top:10px;
}

#hot_store{
    width: 90%;
    margin: 0 auto;
    height: 1620px;
    /* background-color: #acdce2; */
    /* padding: 10px; */
    /* border-radius: 5px; */
    margin-top:10px;
    margin-bottom: 80px;
}
.hot_store_list{
    width: 100%;
    display: inline-flex
}

.hot_store_detail{
    width: 46%;
    height: 150px;
    border-style: solid;
     border-radius: 5px;
     background-color: #acdce2;
    margin-left: 2%;
    color:white;
}
#user_name{
    width: 90%;
    height: 15%;
    margin-left: 5%;
    color: white;
    font-size: 18px;
}
#market_pic{
    width: 90%;
    margin-left: 5%;
    height: 70%;
}
#store_name{
    width: 90%;
    margin-left: 5%;
    height: 15%;
    text-align: center;
    color: white;
    font-size: 18px;
}
.detail_name{
    text-align: center;
}
#near_infor{
    width: 90%;
    height: 15%;
    margin-left:5%;
    display: inline-flex;
    text-align: center;
    color: white;
}


#nav_sj {
    width: 100%;
    height: 20%;
    background: #63dded;
    display: inline-flex;
    position: fixed;
    top: 90%;
    z-index: 1;
}

#nav_sj div {
    width: 25%;
    padding: 10px;
    font-size: 8px;
    color: white;
    text-align: center;
}
