@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
selected,select,body, h1, h2, h3, h4, h5, h6, li, p, span, div input,textarea,label {font-family: 'NanumSquare',sans-serif;}
body, html, #modal_market_name {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    background-color: white;
}
input,button,textarea{
    outline: none;
}
.alert_x,.alert_o,.alert_select,.alert_out{
    width: 100%;
    height: 100%;
    background-color:  rgba(141, 140, 140, 0.8);
    position: fixed;
    z-index: 100;
    top:0;
}
.alert_x_content,.alert_o_content{
    width: 70%;
    height: 25%;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: 37.5%;
    left:15%;
}
.alert_image{
    text-align: center;
    width: 100%;
    height: 50%;
    padding-top: 10%;
}
.alert_content{
    text-align: center;
    width: 100%;
    height: 40%;
}
.alert_content_select{
    text-align: center;
    width: 100%;
    height: 60%;
    line-height: 90px;
}

.alert_select_ok,.alert_select_ok_out{
    text-align: center;
    width: 35%;
    height: 40px;
    line-height: 40px;
    margin-left: 10%;
    border-radius: 50px;
    background-image: linear-gradient(white, white),
 radial-gradient(circle at top left, #17ead9,#6078ea);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 1px;
    display: inline-block;
    font-size: 14px;
}
.alert_select_cancel{
    text-align: center;
    width: 35%;
    height: 40px;
    line-height: 40px;
    margin-left: 10%;
    border-radius: 50px;
    background-image:url('/images/backSample5.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 1px;
    display: inline-block;
    color: white;
    font-size: 14px;
}
#modal_market_name{
    font-family: 'NanumSquare',sans-serif;    
}
#all_body{
    width: 100%;
    height: 100%;
}

#findid_form{
    padding-top: 150px;
    height: 50%;
    width: 77.7%;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.fdd{
    height: 10%;
    width: 100%;
}

#idfind_bottom{
    background-color:grey;
}
#back_buttom{
    width: 100%;
    position: fixed;
    height: 10%;
}
#idfind_top{
    width: 100%;
    position: fixed;
    height: 8%;
    top:60px;
    margin-left:8%;
}
#find_manager_id_to_password{
    outline:none;
    width: 80.5%;
    height: 40px;
    background-color: white;
    border: double 1px transparent;
    border-image: linear-gradient(to right, rgb(1, 201, 202) 0%, rgb(56, 134, 255) 50%) 1 / 0 0 1.0px / 0 stretch;
    border-top: 0px;
    border-bottom-style: solid;
    padding-top:10px;
    
}
::placeholder {
    color: grey;
    opacity: 1;
}
#searching_div{
    display: flex;
}
#sijang_name{
    outline:none;
    width: 200px;
    height: 46px;
    background-color: white;
    border: double 1px transparent;
    border-top: 0px;
    border-bottom-style: solid;
    margin-left: 0px;
}
#find_manager_id_to_marketname{
    outline:none;
    width: 80.5%;
    height: 40px;
    background-color: white;
    border: double 1px transparent;
    border-image: linear-gradient(to right, rgb(1, 201, 202) 0%, rgb(56, 134, 255) 50%) 1 / 0 0 1.0px / 0 stretch;
    border-top: 0px;
    border-bottom-style: solid;
    padding-top:10px;
    
}
#find_manager_id_bt{
    width: 20px;
    height: 20px;
    margin-left: 8%;
    background-color: white;
    border: 0px;
    padding: 0px;

}
#findid_result_div{
    margin-top:20px;
    font-size: 20px;
    text-align: center;
}
#demo{
    color: #37caca;
    text-align: center;
    margin-top: 40px;
}
#modalbutton{
        position: fixed;
        box-shadow: 5px 5px 3px #efefef;
        width: 80%;
        height: 40px;
        padding:0;
        margin-top: 5px;
        border:0;
        top:500px;
        border-radius: 50px;
        color:white;
        background: -webkit-linear-gradient(left, #17ead9, #6078ea);
        background: -o-linear-gradient(right, #17ead9, #6078ea);
        background: -moz-linear-gradient(right, #17ead9, #6078ea);
        background: linear-gradient(to right, #17ead9 , #6078ea);
    
}
.modal-content{
    border-radius: 10px;
    height: 500px;
    width: 90%;
    margin-top: 18%;
    margin-left:5%;
    background-color: white;
}
#light_title{
    float: left;
    height: 30px;
    width:150px;
    padding-top:8px;
    padding-left:5px;
    font-size: 20px;
}
#light{
    height: 30px;
    width:30px;
    margin-top: 3px;
    float: left;   
}
