
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
body, h1, h2, h3, h4, h5, h6, li, p, span, div input,textarea,label {font-family: 'NanumSquare',sans-serif;}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#menu {
    width: 100%;
    height: 50px;
    text-align: center;
    background-image: url('/images/mainBack.png');
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 50px;
    color: white;
}

#nav_sj {
    width: 100%;
    height: 8%;
    background: white;
    display: inline-flex;
    position: fixed;
    top: 92%;
    z-index: 1;
    border-top-style: solid;
    border-top-width: 1px;
    /* border-left-style: none */
}

#nav_sj div {
    padding: 5px;
    width: 20%;
    font-size: 10px;
    color: #9c9c9c;
    text-align: center;
}

#nav_sj p {
    margin: 0;
}

#nav_text {
    color: #63dded;
}
label{
    /* margin-left: 18%; */
    font-size: 20px;
    height:27px;
    line-height: 27px;
}
.name{
    width: 25%;
    height: 27px;
    line-height: 27px;
    margin: 0;
    text-align: center;
}
.inputLine{
    width: 85%;
    margin-left: 7.5%;
    display: inline-flex;
}
input,textarea{
    margin-bottom: 6%;
    font-size: 17px;
    border-top: 0;
    border-image: linear-gradient(to right, #01c9ca 0%, #3886FF 50%);
    border-image-slice: 1;
    border-image-width: 0 0 2px 0;
    padding: 2px;
 }
input{
    height: 27px;
    width:68%;
    margin-left: 2%;
}

textarea{
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    padding: 5px;
}
#stamp_reform{
    width: 67%;
    margin-left: 16.5%;
    border-radius: 5px;
    height: 50px;
    background-image: url('/images/mainBack.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 20px;
    border-style: none;
}
#stamp_detail{
    margin-top: 7%;
}
#reform{
    display: inline-flex;
    width: 67%;
    margin-left: 16.5%;
    height: 50px;
    display: none;
}
#reform button{
    width: 45%;
    height: 50px;
    background-image: url('/images/mainBack.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 20px;
    border-style: none;
    border-radius: 5px;
}
