
/* * {
	border: 1px solid black;
}*/

#Goomap {
	height: 85%;
	width: 100%;
	display: none;
}

#Goomap_container {
	display: flex;
	flex-direction: column;
}

#Goomap > div > li {
	list-style: none;
}

#Goomap > div > span {
	height: 25%;
	width: 25%;
}

.Goomap_inner {
	display: flex;
	flex-basis: 70px;
	flex-grow: 1;
}

.Goomap_inner > span {
	flex-direction: row;
	flex-grow: 1;
	text-align: center;
}

/* ───── NEW GOO MAP ───── */

#NewGoomap > div {
	position: relative;
	display: block;
	background-color: #C0C0C0;
}

#NewGoomap > div > li {
	list-style: none;
	display: inline-block;
	color: white;

	margin: 6px;
}