@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 800;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
  }

  @font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
  }

  @font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 200;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
  }

        body,
        html {
            font-family: 'LotteMartDream', sans-serif;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            /* overflow: hidden; */
        }
        #mystamp{
            width: 100%;
            height:100%;
        }
        .selected_stamp{
            width: 100%;
            height:100%;
            display: none;
        }
        .stamp_list{
            width: 80%;
            height: 100px;
            background-color: #fb83a5;
            margin-left: 10%;
            border-radius: 5px;
            color: white;
            margin-top: 15px;
        }
        .stamp_name{
            display: inline-flex;
            width: 90%;
            height: 30%;
            margin-left: 5%;
            margin-top: 5px;
        }
        .market_name{
            font-size: 14px;
            text-align: center;
        }
        .stamp_count{
            width: 100%;
            height: 60%;
            font-size: 25px;
            display: table;
        }
        .stamp_count_vertical{
            width: 100%;
            height: 100%;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        #nav_sj {
            width: 100%;
            height: 10%;
            background: #63dded;
            display: inline-flex;
            position: fixed;
            top: 90%;
            z-index: 1;
        }

        #nav_sj div {
            width: 20%;
            padding: 10px;
            font-size: 8px;
            color: white;
            text-align: center;
        }

        #name_sj {
            width: 100%;
            height: 12%;
            display: inline-flex;
            position: fixed;
            background-color: white;
            z-index: 1;
        }

        #store_name_sj {
            text-align: center;
            font-size: 28px;
            width: 70%;
            line-height: 70px;

        }

        #market_name_sj {
            text-align: center;
            font-size: 20px;
            width: 30%;
            line-height: 70px;
            color: gray;
        }

        #sns_sj {
            width: 100%;
            height: 9%;
            display: inline-flex;
            padding: 10px;
            text-align: center;
            position: fixed;
            top: 12%;
            background-color: white;
            z-index: 1;
        }

        #menu_sj {
            width: 100%;
            height: 12%;
            display: inline-flex;
            position: fixed;
            top: 24%;
            background-color: white;
            line-height: 70px;
            z-index: 1;
        }
        #stamp_menu_sj{
            width: 100%;
            height: 54%;
            position: fixed;
            top: 36%;
        }
        .stamp_sj {
            width: 100%;
            height: 60%;

        }

        #stamp_infor_sj {
            width: 95%;
            height: 20%;
            font-size: 20px;
            line-height: 32px;
            margin-left: 5%

        }

        p {
            margin: 0;
            /* font-size: 18px; */
        }
        .ten_sj p,.five_sj p{
            margin-left: 35%;
        }
        h2{
            margin-left: 20px;
        }
        .store_detail_sj p{
            width: 90%;
            margin-left: 5%;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .button_sj {
            width: 100%;
            height: 20%;

            background-color: #fb83a5;
            border-color: #fb83a5;

            color: white;
            font-size: 25px;
        }

        #yesGood_Button_sj {
            display: none;
        }

        .goodCount_sj {
            font-size: 25px;
            line-height: 70px;
        }

        #sns_sj img,
        #sns_sj p {
            margin-left: 6%;
        }

        #menu_sj p {
            width: 33.333%;
            text-align: center;
            font-size: 25px;
        }

        .fiveControls_sj,
        .tenControls_sj {
            width: 100%;
            height: 100%;
            display: none;
        }

        .tenStamp_sj {
            width: 100%;
            height: 100%;
            display: table-cell;
            vertical-align: middle;
        }

        .fiveStamp_sj {
            width: 100%;
            height: 100%;
            display: table-cell;
            vertical-align: middle;
        }

        .five_sj,
        .ten_sj {
            display: inline-flex;
            width: 15%;
            height: 55px;
            border-radius: 200px;
            margin-left: 3%;
            background-color: rgb(202, 199, 199);
            text-align: center;
            color: white;
            font-size: 30px;
            line-height: 55px;

        }

        .tenStamp_top_sj,
        .tenStamp_bottom_sj {
            margin-bottom: 10px;
        }
        .store_detail_sj,#store_review_sj{
            display: none;
            position: absolute;
            top: 36%;

            margin-bottom: 12%;
        }
        .review_div_sj{
            width: 90%;
            margin-left: 5%;
            border-radius: 10px;
            background-color: rgb(230, 247, 236);
            font-size: 20px;
            margin-bottom: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            /* color: white; */
        }
        .review_button_sj{
            width: 80%;
            margin: 20px 0;
            margin-left: 10%;
            height:45px;

            background-color:#fb83a5;
            border-color: #fb83a5;
            border-radius: 5px;
            color: white;
            font-size: 25px;
        }
        .review_content_sj{
            width: 80%;
            margin-left: 10%;
            /* text-align: center; */
            display: inline-flex;
        }
        .review_content_id_sj{
            width: 60%;
        }
        .review_content_date_sj{
            width: 40%;
        }
        .review_div_sj p{
            margin-top: 10px;
            width: 85%;
            margin-left: 7.5%;
            background:no-repeat;
            border-style: none;
            font-size: 20px;
            margin-bottom: 20px;
        }
        #review_write_sj{
            width: 100%;
            display: none;
            position: absolute;
            top: 36%;
        }
        #write_button_div_sj{
            width: 100%;
            display: inline-flex;
        }
        textarea{
            width: 80%;
            margin-left: 10%;
            font-size: 23px;
        }
        #write_button_div_sj button{
            width: 35%;
            height: 50px;
            /* background-color:  */
            background-color:  #fb83a5;
            border-color: #fb83a5;
            border-radius: 5px;
            color: white;
            font-size: 25px;
            margin-top: 20px;
        }
        #password_number_div_sj{
            display: none;
            width: 80%;
            margin-left: 10%;
            height: 52%;
            position: fixed;
            top: 36%;
            background-color: rgb(230, 247, 236);
            border-radius: 5px;
            font-size: 20px;
            text-align: center;
             line-height: 70px;
        }
        .password_line_sj{
            display: inline-flex;
            width: 100%;
            height: 25%;
        }
        .password_line_sj div{
            width: 33.33%;
            height: 100%;
            border-style: solid;
            border-color: rgb(181, 233, 199);
        }
        #password_cancel{
            background-color: rgb(241, 37, 37);
            color: white;
        }
        #password_ok{
            background-color: rgb(241, 37, 37);
            color: white;
        }
        .password_number_sj:hover{
            background-color: rgb(185, 184, 184);
        }
