 #mystamp{
    width: 100%;
    height:100%;
}
.selected_stamp{
    width: 100%;
    height:100%;
    display: none;
}
/* .stamp_list{
    width: 80%;
    height: 100px;
    background-color: #fb83a5;
    margin-left: 10%;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
} */
.stamp_name{
    display: inline-flex;
    width: 90%;
    height: 30%;
    margin-left: 5%;
    margin-top: 5px;
}
.market_name{
    font-size: 14px;
    text-align: center;
}
.stamp_count{
    width: 100%;
    height: 60%;
    font-size: 25px;
    display: table;
}
.stamp_count_vertical{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.name_sj {
    width: 100%;
    height: 12%;
    display: inline-flex;
    position: fixed;
    background-color: white;
    z-index: 1;
    top: 8%;
}
.name{
    width: 23%;
    margin-left: 3%;
    height: 30px;
    line-height: 30px;
}

#name_sj {
    width: 55%;
    height: 85px;
}
.top_font{
    font-size: 11px;
    font-weight: lighter;
    text-align: center;
    height: 40px;
    color: #9c9c9c;
    padding-top: 3px;
}
/* ─────────────────────────────────────────────────── */
#menu_infor{
    width: 100%;
    height: 110px;
    position: fixed;
    top:38px;
    background-color: white;
    z-index: 2;
}
#top_infor{
    width: 100%;
    display: inline-flex;
    height: 60px;

}
#store_name_sj {
    width: 80%;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    margin-left: 10%;
    font-weight: bold;

}
#market_name_sj {
    font-size: 15px;
    height: 25px;
    line-height: 10px;
    color: gray;
    font-weight: lighter;
    margin-left: 10%;

}
#good,#kakao,#face{
    width: 33%;
    display: block;
}
#sns_sj {
    width: 45%;
    height: 60px;
    display: inline-flex;
    text-align: center;
    background-color: white;
    z-index: 1;
}
#introduce,#map{
    display: inline-flex;
    width: 90%;
    height: 30px;
    margin-left: 5%;
}
#introduce{
    height: auto !important;
}
#map{
    margin-top: 20px;
}
#intro_content{
    width: 58%;
    margin-left: 8%;
    font-weight: lighter;
    color: #9c9c9c;
    line-height: 30px;
}
#bottom_infor {
    width: 100%;
    height: 50px;
    display: inline-flex;
    background-color: white;
    line-height: 50px;
    z-index: 1;
    text-align: center;
}
#bottom_infor p{
    font-size: 18px;
    width: 33.3%;
}
#stamp_menu_sj{
    width: 100%;
    margin-top: 30px;
    /* height: 50%; */
}
.stamp_infor_content{
    width: 58%;
    margin-left: 8%;
    font-weight: lighter;
    color: #9c9c9c;
    line-height: 30px;
    border-bottom-style: solid;
    border-bottom-color: #cecdcd;
    border-width: 1px;
}
.stamp_sj{
    width: 77%;
    height: 180px;
    margin-left: 11.5%;
    background-image:url('/images/backSample4.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    color: white;
}

#stamp_infor_sj {
    width: 100%;
}
.stamp_infor{
    display: inline-flex;
    width: 90%;
    height: 30px;
    margin-left: 5%;
    margin-top: 20px;
}

p {
    margin: 0;
    /* font-size: 18px; */
}
.ten_sj p,.five_sj p{
    margin-left: 35%;
}
h2{
    margin-left: 20px;
}
.store_detail_sj p{
    width: 90%;
    margin-left: 5%;
    font-size: 20px;
    margin-bottom: 20px;
}
.button_sj {
    width: 80%;
    height: 45px;
    margin-left: 10%;
    margin-top: 20px;
    border-radius: 20px;
    background: url(/images/backSample5.png);
    background-repeat: no-repeat;
    border-style: none;
    background-size: 100% 100%;
    color: white;
    font-size: 18px;
    font-weight: lighter;
}

#yesGood_Button_sj {
    display: none;
}

.goodCount_sj {
    font-size: 25px;
    line-height: 70px;
}

#sns_sj img,
#sns_sj p {
    margin-left: 6%;
}

#menu_sj p {
    width: 33.333%;
    text-align: center;
    font-size: 25px;
}

.fiveControls_sj,
.tenControls_sj {
    width: 100%;
    height: 100%;
    display: none;
}

.tenStamp_sj {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.fiveStamp_sj {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.five_sj,
.ten_sj {
    display: inline-flex;
    width: 15%;
    height: 41px;
    border-radius: 200px;
    margin-left: 3%;
    background-color: rgb(202, 199, 199);
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 41px;

}

.tenStamp_top_sj,
.tenStamp_bottom_sj {
    margin-bottom: 10px;
}
.store_detail_sj,.store_review_sj{
 
    margin-bottom: 12%;
}
.review_div_sj{
    width: 100%;
    font-size: 20px;
}
.review_content_sj{
    height: 20px;
    line-height: 20px;
    width: 90%;
    margin-left: 5%;
    /* text-align: center; */
    display: inline-flex;
}
.review_content_id_sj{
    font-size: 16px;
    width: 30%;
}
.review_content_date_sj{
    color: #9c9c9c;
    font-size: 14px;
    width: 30%;
    font-weight: lighter;
}
.review_div_sj p{
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
    background:no-repeat;
    border-style: none;
    font-size: 20px;
    margin-bottom: 20px;
    word-break: break-all;
}
.market_infoText_li{
    width: 90%;
    margin-left: 5%;
    display: inline-flex;
    margin-top: 10px;
}
/* 현우가 건드린 CSS */
.store_review_sj {
    width: 100%;
}
.s2 {
    position: absolute !important;
    top: 149px !important;
    width: 100% !important;
    /* height: 100%; */
    
    min-height: 70% !important;
    margin-bottom: 15% !important;
  }

  .swiper-scrollbar{
    opacity: 1 !important;
    transition-duration: 0 !important;
    position: fixed !important;
    top: 149px !important;
}
.store_image{
    width: 170px;
    height: 170px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 100px;
}
.review_rate{
    margin-top: 20px;
    width: 100%;
    /*height: 118px;*/
}
.review_star{
    display: inline-flex;
    width: 90%;
    margin-left: 5%;
    height: 30px;
}
.review_star_customer{
    padding-top: 10px;
    display: inline-flex;
    width: 90%;
    margin-left: 5%;
    height: 20px;
}

.review_count{
    display: inline-flex;
    width: 90%;
    margin-left: 5%;
    height: 40px;
    line-height: 40px;
}
.review_count_content{
    margin-left: 10px;
    color: #63dded;
    font-size: 20px;
}
#intro{
    width: 90%;
    margin-left: 5%;
    height: 30px;
    line-height: 30px;
    color: #9c9c9c;
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 5px;
}
.line{
    width: 100%;
    height: 8px;
    background-color:#f6f8f9;
}
.naming{
    width: 23%;
    margin-left: 3%;
    height: 30px;
    line-height: 30px;
    font-size: 15px;    
}
.content_div{
    width: 58%;
    margin-left: 8%;
    font-weight: lighter;
    color: #9c9c9c;
    line-height: 30px;
    font-size: 14px;
}
